{% extends 'base_view.html' %}

{% load tools %}

{% block hero_class %}is-medium{% endblock %}
{% block hero_body %}
    <h1 class="title is-size-2 is-uppercase">{{ title }}</h1>
    <p class="is-size-4">Подобрали для вас самые актуальные предложения от застройщиков для выгодных сделок. Эксклюзивно для «Новостройки Voronezh».</p>
{% endblock %}

{% block container %}
<section class="section">
    <div class="columns is-multiline">
        {% for promo in promos %}{% include 'promo/card.html' with promo=promo %}{% endfor %}
    </div>
</section>
{% include 'base_pagination.html' %}
{% include 'blocks/consultation.html' %}
{% endblock %}