{% load static %}

<div class="mb-3 mx-auto">
    <figure class="relative max-w-sm transition-all duration-300 cursor-pointer">
        <a href="{% url 'main:article-page' article_id=article.pk %}">
            <img class="rounded-lg" src="{{ article.articlephoto_set.first.photo.url }}" alt="image description">
        </a>
        <figcaption class="absolute px-4  bottom-6">
            <p class="text-white font-medium text-s mb-1">{{ article.created_at }}</p>
            <p class="text-xl text-white mb-3 font-bold">{{ article.title }}</p>
        </figcaption>
    </figure>
</div>
