{% extends "profile/registration/base_page.html" %}

{% block page_name %}Восстановление пароля{% endblock %}

{% block container %}
<div class="card">
    <div class="card-header">
        <p class="card-header-title">Восстановление пароля</p>
    </div>
    <div class="card-content">
        {% if validlink %}
            <p class="mb-5">Пожалуйста, введите (и подтвердите) Ваш новый пароль.</p>
            <form method="post">{% csrf_token %}
                {{ form.as_div }}
                <button class="button is-success" type="submit">Изменить пароль</button>
            </form>
        {% else %}
            <p class="has-text-centered">Ссылка для сброса пароля неверна, возможно данная ссылка уже была использована. Пожалуйста, запросите новое восстановление пароля.</p>
        {% endif %}
    </div>
</div>
{% endblock %}