{% extends 'base_view.html' %}

{% load static %}

{% block hero_class %}is-small{% endblock %}
{% block hero_body %}<p class="title">Изменение пароля</p>{% endblock %}

{% block container %}
<section class="section">
    <div class="box">
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
            <ul>
                <li>
                    <a href="{% url 'main:profile-index' %}">
                        <span class="icon"><i class="fa-regular fa-credit-card"></i></span>
                        <span>Карта</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="{% url 'main:password_change' %}">
                        <span class="icon"><i class="fa-solid fa-key"></i></span>
                        <span>Изменить пароль</span>
                    </a>
                </li>
            </ul>
        </div>
        <form class="card-body" method="post">
            <p class="mb-5">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
            {{ form.as_div }}
            <button type="submit" class="button is-success">Изменить пароль</button>
        </form>
    </div>
</section>
{% endblock %}