{% extends "profile/registration/base_page.html" %}

{% block page_name %}Восстановление пароля{% endblock %}

{% block container %}
<div class="card">
    <div class="card-header">
        <p class="card-header-title">Восстановление пароля</p>
    </div>
    <form class="card-content" method="post" id="login" action="{% url 'main:password_reset' %}">{% csrf_token %}
        {{ form.as_div }}
        <button class="button is-success" type="submit">Восстановить пароль</button>
    </form>
</div>
{% endblock %}
