{%load static %}

<!-- Фильтр квартир -->  
<div class=" text-white flex justify-center items-center p-4">
    <form method="get">
        {% csrf_token %}
        <div class="w-full max-w-7xl  px-6 lg:px-8 mx-auto bg-[#191B1D]">
            <h1 class="text-3xl font-semibold mb-6 text-left text-white">{{ block_title|default:"Каталог вариантов" }}</h1>
            
            <div class="grid grid-cols-2  md:grid-cols-6  gap-2 items-center">
                <select class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option>Купить</option>
                </select>
                <select name="type" class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option value="">Вид недвижимости</option>
                    <option {% if request.GET.type == "Flat" %}selected{% endif %} value="Flat">Квартира</option>
                    <option {% if request.GET.type == "Commerce" %}selected{% endif %} value="Commerce">Коммерческая</option>
                    <option {% if request.GET.type == "House" %}selected{% endif %} value="House">Дом</option>
                    <option {% if request.GET.type == "Elite" %}selected{% endif %} value="Elite">Элитная</option>
                </select>
                <select name="rooms" class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option value="">Комнатность</option>
                    <option {% if request.GET.rooms == "Студия" %}selected{% endif %} value="Студия">Студия</option>
                    <option {% if request.GET.rooms == "1" %}selected{% endif %} value="1">1</option>
                    <option {% if request.GET.rooms == "2" %}selected{% endif %} value="2">2</option>
                    <option {% if request.GET.rooms == "3" %}selected{% endif %} value="3">3</option>
                    <option {% if request.GET.rooms == "4" %}selected{% endif %} value="4">4</option>
                    <option {% if request.GET.rooms == "5" %}selected{% endif %} value="5">5</option>
                    <option {% if request.GET.rooms == "6" %}selected{% endif %} value="6">6</option>
                    <option {% if request.GET.rooms == "10 и более" %}selected{% endif %} value="10 и более">10 и более</option>
                    <option {% if request.GET.rooms == "Своб.планировка" %}selected{% endif %} value="Своб.планировка">Свободная планировка</option>
                </select>
                <select name="price" class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option>Цена</option>
                    <option {% if request.GET.price == "2000000" %}selected{% endif %} value="2000000">до 2х млн. рублей</option>
                    <option {% if request.GET.price == "5000000" %}selected{% endif %} value="5000000">от 2х до до 5х млн. рублей</option>
                    <option {% if request.GET.price == "10000000" %}selected{% endif %} value="10000000">от 5х до до 10ти млн. рублей</option>
                    <option {% if request.GET.price == "10000000+" %}selected{% endif %} value="10000000+">от 10ти млн. рублей</option>
                </select>
                <select name="square" class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option>Площадь</option>
                    <option {% if request.GET.square == "30" %}selected{% endif %} value="30">до 30 кв. м.</option>
                    <option {% if request.GET.square == "50" %}selected{% endif %} value="50">от 30 кв. м. до до 50 кв. м.</option>
                    <option {% if request.GET.square == "70" %}selected{% endif %} value="70">от 50 кв. м. до до 70 кв. м.</option>
                    <option {% if request.GET.square == "100" %}selected{% endif %} value="100">от 70 кв. м. до до 100 кв. м.</option>
                    <option {% if request.GET.square == "100+" %}selected{% endif %} value="100+">от 100 кв. м.</option>
                </select>
                <!-- <select class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full">
                    <option>Этаж</option>
                </select> -->
                
                <input type="text" class="bg-[#2C2C2E] p-3 border border-gray-600 text-white rounded-md w-full" name="floor" placeholder="Этаж">
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-2 items-center">
                <div> 
                    <button  data-modal-target="modal-filter" data-modal-toggle="modal-filter" type="button"  class="w-full p-3 bg-[#2C2C2E] hover:bg-orange-600 text-white border border-gray-600 rounded-md flex items-center justify-center space-x-1">
                        <span>Дополнительно</span>
                        <img src="{%static 'pic/filter.svg'%}" class="w-6 h-6">
                    </button>
                </div>
                <div>  
                    <input type="text" class="hidden md:block bg-white p-3 text-gray-600  md:col-span-2 lg:col-span-1" placeholder="Район, адрес">
                </div>
                <div class="flex gap-2 w-full md:col-span-2 lg:col-span-1 justify-end">
                    <button class="bg-white text-black p-3 flex items-center gap-2 w-full md:w-auto">На карте 🗺️</button>
                    <button type="submit" class="bg-orange-500 text-white p-3 w-full md:w-auto">Показать объявления</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="flex justify-between items-center w-full text-white py-5 max-w-7xl  px-6 lg:px-8 mx-auto">
    <button class="flex items-center space-x-1"> 
        <span class="text-1xl">Сортировка</span>
        <img src="{%static 'pic/dropdown.svg'%}" class="w-4 h-4"/>
    </button>
    <!-- <select name="sort" class="bg-[#2C2C2E] p-3 border-0 border-gray-600 text-white rounded-md w-full">
        <option>Сортировка</option>
        <option {% if request.GET.sort == "priceGte" %}selected{% endif %} value="priceGte">
            По цене 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
            </svg>
        </option>
        <option {% if request.GET.sort == "priceLte" %}selected{% endif %} value="priceLte">
            По цене 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
            </svg>
        </option>
        <option {% if request.GET.sort == "squareGte" %}selected{% endif %} value="squareGte">
            По площади 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
            </svg>
        </option>
        <option {% if request.GET.sort == "squareLte" %}selected{% endif %} value="squareLte">
            По площади 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
            </svg>
        </option>
        <option {% if request.GET.sort == "roomsGte" %}selected{% endif %} value="roomsGte">
            По комнатам
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
            </svg>
        </option>
        <option {% if request.GET.sort == "roomsLte" %}selected{% endif %} value="roomsLte">
            По комнатам 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
            </svg>
        </option>
    </select> -->
    <div class="hidden md:flex">
        <div class="">
          <nav class="isolate flex" aria-label="Tabs">
            <a href="#" class="group relative min-w-0 flex-1 overflow-hidden px-4 py-4 text-center text-md text-white-900 hover:bg-gray-50 focus:z-10" aria-current="page">
              <span >Карточками</span>
              <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-white"></span>
            </a>
            <a href="#" class="group relative min-w-0 flex-1 overflow-hidden px-4 py-4 text-center text-md text-gray-500 hover:bg-[#2C2C2E] hover:text-white focus:z-10">
              <span >Списком</span>
              <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-gray-500"></span>
            </a>
          </nav>
        </div>
    </div>
    <span class="text-1xl">{{ flats_count|default:"0" }} вариантов</span>
</div>

<div id="modal-filter" class="bg-[#78787880] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="modal-background"></div>
    <form method="get" class="bg-[#2C2C2E]  max-h-[80vh] overflow-y-auto">{% csrf_token %}
        <header class="modal-card-head">
            
            <!-- <button class="delete" aria-label="close"></button> -->
            <button data-modal-hide="modal-filter" type="button" class="block ml-auto mr-0 pb-1 pt-4 px-3 text-sm font-medium focus:outline-none rounded-lg focus:z-10 focus:ring-4 focus:ring-gray-100 text-[#787878] hover:text-white">
                <svg width="18" height="18" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.5L13 12.5M13 0.500002L1 12.5" stroke="#787878" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </header>
        <section class="modal-card-body px-6 pt-2 pb-4 space-y-6 text-white rounded-lg">
            <h2 class="text-2xl font-semibold">Все фильтры</h2>
            
            <!-- Количество комнат -->
            <div>
                <h3 class="font-medium mb-2">Количество комнат</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="0">Студия</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="1">1 комната</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="2" >2 комнаты</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="3">3 комнаты</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="4">4 комнаты</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="rooms" value="5">5+ комнат</label>
                </div>
            </div>

            <!-- Цена -->
            <div>
                <h3 class="font-medium mb-2">Цена</h3>
                <div class="flex space-x-2">
                <input type="number" name="price_min" placeholder="от 1 400 000" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                <input type="number" name="price_max" placeholder="до 5 000 000" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                </div>
            </div>

            <!-- Площадь -->
            <div>
                <h3 class="font-medium mb-2">Площадь</h3>
                <div class="flex space-x-2">
                <input type="number" name="square_min" placeholder="от 40" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                <input type="number" name="square_max" placeholder="до 80" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                </div>
            </div>

            <!-- Этаж -->
            <div>
                <h3 class="font-medium mb-2">Этаж</h3>
                <div class="flex space-x-2 mb-2">
                <input type="number" name="floor_min" placeholder="от 5" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                <input type="number" name="floor_max" placeholder="до 17" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                </div>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="not_first">Не первый</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="not_last">Не последний</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" name="only_last">Только последний</label>
                </div>
            </div>

            <!-- Срок сдачи -->
            <div>
                <h3 class="font-medium mb-2">Срок сдачи</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 4 квартала 2024</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 1 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" >до 2 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 3 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 4 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">2026 и позднее</label>
                </div>
            </div>

            <!-- Отделка -->
            <div>
                <h3 class="font-medium mb-2">Отделка</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Без отделки</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Предчистовая</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128" >Чистовая</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 3 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">до 4 квартала 2025</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">2026 и позднее</label>
                </div>
            </div>

            <!-- Площадь кухни -->
            <div>
                <h3 class="font-medium mb-2">Площадь кухни</h3>
                <div class="flex space-x-2">
                <input type="number" name="kitchen_min" placeholder="от 5" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                <input type="number" name="kitchen_max" placeholder="до 17" class="w-full p-2 rounded bg-white text-black border border-gray-700">
                </div>
            </div>

            <!-- Тип дома -->
            <div>
                <h3 class="font-medium mb-2">Тип дома</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Кирпичный</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Панельный</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Блочный</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Монолитный</label>
                </div>
            </div>

            <!-- Эксклюзивные варианты -->
            <div>
                <h3 class="font-medium mb-2">Эксклюзивные варианты</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">С террасой</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Двухуровневые</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">С мастер-спальней</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">С окном в ванной</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">С эркером</label>
                </div>
            </div>

            <!-- Район -->
            <div>
                <h3 class="font-medium mb-2">Район</h3>
                <div class="space-y-1">
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Центральный</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Советский</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Коминтерновский</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Ленинский</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Железнодорожный</label>
                <label class="flex items-center"><input type="checkbox" class="mr-2" style="color: #BF6128">Левобережный</label>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="m-auto text-center pb-6 px-8">
                <button type="submit" class="w-full rounded-lg bg-amber-600 hover:bg-amber-600 text-white font-bold py-4 px-8 border border-amber-700 xs:mt-1 mt-4 mb-2">
                    Показать объявления
                </button>
            </div>
            <!-- <button type="submit" class="button is-warning is-medium is-fullwidth is-rounded">Оставить заявку</button> -->
        </footer>
    </form>
    <button class="modal-close is-large" aria-label="close"></button>
</div>