{% load static %}
<section class="section exclusive">
    <div class="card {{ extended_class }}">
        <div class="card-header is-shadowless">
            <p class="card-header-title is-size-3 fw-bold">Эксклюзивные контракты с застройщиками</p>
        </div>
        <div class="card-content">
            <div class="columns is-align-items-center">
                <div class="column"><img src="{% static 'images/blocks/exclusive/vdk.png' %}" alt="Вдк"></div>
                <div class="column"><img src="{% static 'images/blocks/exclusive/comfort-stroy.png' %}" alt="Комфорт строй"></div>
                <div class="column"><img src="{% static 'images/blocks/exclusive/grad1.png' %}" alt="Дон"></div>
                <div class="column"><img src="{% static 'images/blocks/exclusive/dsk.png' %}" alt="Дск"></div>
                <div class="column"><img src="{% static 'images/blocks/exclusive/vybor.png' %}" alt="Выбор"></div>
            </div>
        </div>
    </div>
</section>