{% load static %}
<section class=" pt-12"> <!-- Секция  опыт -->
    <div class="mx-auto max-w-7xl px-6 py-5 sm:py-8 lg:flex lg:items-center lg:justify-between lg:px-8">
        <div>
            <h1 class="md:text-5xl sm:text-4xl text-4xl font-normal tracking-tight text-white lg:w-[80%] xl:w-[60%] w-full">
                <span>Опираемся на <span class="text-amber-600">многолетний опыт</span> и глубокое знание рынка</span>
            </h1>
        </div>
    </div>
    <div class=" text-white flex  sm:py-6 justify-center items-center max-w-7xl mx-auto">
        <div class="mx-8 w-full bg-[#2C2C2E] rounded-lg p-6  flex flex-col md:flex-row gap-6 md:items-stretch">
            <div class="w-full md:w-1/2 flex flex-col justify-center order-2 md:order-1">
                <h2 class="text-2xl font-bold mb-4">Агентство 1983</h2>
                <p class="text-white mb-4">
                    Наша миссия — сделать процесс покупки, продажи или аренды недвижимости максимально простым и комфортным для вас.
                    Мы тщательно анализируем рынок, чтобы предложить вам самые выгодные решения и всегда готовы ответить на все ваши вопросы.
                    Мы гордимся нашими ценностями: честность, прозрачность и ответственность. Каждый клиент для нас — это долгосрочное партнёрство,
                    построенное на доверии и взаимопонимании.
                </p>
                <p class="text-white mb-6">
                    Будь то поиск уютного дома для вашей семьи, инвестирование в коммерческую недвижимость или продажа объекта — мы рядом,
                    чтобы поддержать и обеспечить вам уверенность в каждом шаге. Доверьте нам заботу о вашей недвижимости, и мы превратим ваши мечты в реальность!
                </p>
                <button  data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-[#BF6128] text-white px-8 py-4 text-lg rounded-lg hover:bg-amber-700 transition w-full md:w-auto">
                    Связаться с нами
                </button>
            </div>
            <div class="w-full md:w-1/2 h-64 md:h-auto rounded-lg overflow-hidden order-1 md:order-2">
                <img src="{% static 'pic/team.png'%}" alt="Команда агентства" class="w-full h-full object-cover" src="{% static 'pic/team.png'%}" >
            </div>
        </div>
    </div>
</section> 