{% load static %}
<section class=" pt-20"> <!-- Секция 4 с фильтром -->
    <div class="mx-auto max-w-7xl  lg:flex lg:items-center lg:justify-between pb-8  px-6  sm:py-15 lg:px-8">
        <h1 class="text-left text-white md:text-5xl sm:text-4xl text-4xl">
            <span>Вам может понравиться</span>
        </h1>
    </div> 
    <div class="grid gap-6 mx-auto max-w-7xl px-6  sm:py-15  lg:items-center grid-cols-1 lg:px-8 sm:grid-cols-2 md:grid-cols-3">
        {% for flat in flats %}
            {% load humanize %}
            <div class="max-w-sm bg-[#2C2C2E] mx-auto">
                <a href="{% url 'main:flat-page' flat_id=flat.pk %}">
                    <img class="rounded-t-lg" src="{{ flat.flatphoto_set.first.photo.url }}" alt="" />
                </a>
                <div class="p-5  ">
                    <a href="{% url 'main:flat-page' flat_id=flat.pk %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ flat.price|floatformat:0 }} Р</h5>
                    </a>
                    <p class="mb-3 text-white font-medium text-sm">{{ flat }}</p>
                <div class="flex">
                    <ul >
                        <li class="text-gray-500 font-medium text-sm">Площадь</li>
                        <li class="text-white font-medium text-sm">{{ flat.square|intcomma }}м<sup>2</sup></li>
                    </ul>
                    <ul class="m-auto">
                        <li class="text-gray-500 font-medium text-sm">Этаж</li>
                        <li class="text-white font-medium text-sm">{{ flat.floor }}{% if flat.obj.floors %} /{{ flat.obj.floors }}{% endif %} эт</li>
                    </ul>
                    <ul class="m-auto">
                        <li class="text-gray-500 font-medium text-sm">Отделка</li>
                        <li class="text-white font-medium text-sm">{{ flat.decoration }}</li>
                    </ul>
                </div>
                </div>
                <div class="p-3">
                    <ul>
                        <li class="mb-3">
                            <div class="flex">
                                <img src="{% static 'pic/geo.svg'%}" class="px-2">
                                <span class="text-gray-500 font-medium text-sm">
                                    {% if flat.obj.parent.city %}{{ flat.obj.parent.city }}{% endif %}
                                </span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="flex">
                                <img src="{% static 'pic/geo-1.svg'%}" class="px-2">
                                <span class="text-gray-500 font-medium text-sm">
                                    {% if flat.obj.address %}{{ flat.obj.address }}{% else %}{{ flat.obj.parent.address }}{% endif %}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="m-auto text-center pb-6">
        <a  href="{% url 'main:search-list'%}" class="btn rounded-lg bg-[#BF6128] hover:bg-amber-600 text-white font-bold py-4 px-8 border border-amber-700 mt-4 xs:mt-1 mb-2">
            Показать все квартиры
        </a>
    </div>
</section>