{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Новостройки Voronezh</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ seo_description|default:"АН «Новостройки Воронеж» занимается оказанием услуг в сфере недвижимости. Продажа квартир от застройщика по выгодным ценам. Каталог жилых комплексов с актуальными ценами и предложениями от застройщиков." }}">
    <!--<meta name="keywords" content="{{ seo_keywords|default:"Воронеж, новостройки, новостройки воронеж, цена, актуальная цена, однокомнатные, двухкомнатные, трехкомнатные, купить квартиру, планировка, планировка квартир, комплексы, жилой, жилой комплекс, жк, жилой комплекс Воронеж, свежие объявления квартиры, последние объявления квартир, рынок недвижимости, рынок недвижимости Воронеж" }}">-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/mini-logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/mini-logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/mini-logo.png' %}">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#fff">

    <meta property="og:title" content="{{ title }} | Новостройки Voronezh" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{% static 'images/logos/og-logo.png' %}" />
    <meta property="og:description" content="{{ seo_description|default:"АН «Новостройки Воронеж» занимается оказанием услуг в сфере недвижимости. Продажа квартир от застройщика по выгодным ценам. Каталог жилых комплексов с актуальными ценами и предложениями от застройщиков." }}"/>

    <!-- <link href="{% static 'libs/bulma/css/bulma.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->

    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<link rel="stylesheet" href="{% static 'css/inter/inter.css' %}">
	<link href="{% static 'css/daisyui/full.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- from cdn -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="{% static 'js/tailwind/tailwind.min.js'%}"></script>
    <script src="{% static 'js/tailwind/tailwind.pugins.min.js'%}"></script>
    <script src="{% static 'js/tailwind/index.global.js'%}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    {% block head_scripts %}{% endblock %}
</head>
<body class="bg-[#191B1D]">
<header class="">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-12" aria-label="Global">
        <div class="flex items-center gap-x-10">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">1983</span>
                <img class="h-8 w-auto" src="{% static 'pic/logo.svg'%}" alt="">
            </a>
            <!-- <div class="hidden lg:flex lg:gap-x-10">
                <a href="{% url 'main:search-list' %}" class="text-sm font-semibold leading-6 text-white">Недвижимость</a>
                <a href="#" class="text-sm font-semibold leading-6 text-white">Услуги</a> 
                <a href="#" class="text-sm font-semibold leading-6 text-white">Бонусы</a> 
                
                <a href="{% url 'main:promo-list' %}" class="text-sm font-semibold leading-6 text-white">Акции</a>
                <a href="{% url 'main:article-list' %}" class="text-sm font-semibold leading-6 text-white">Новости</a>
                <a href="{% url 'main:about' %}" class="text-sm font-semibold leading-6 text-white">О компании</a>
                <a href="{% url 'main:contacts' %}" class="text-sm font-semibold leading-6 text-white">Контакты</a>
            </div> -->
            <div class="hidden xl:flex lg:gap-x-10" x-data="{ servicesOpen: false, bonusOpen: false }">
                <a href="{% url 'main:search-list' %}" class="text-sm font-semibold leading-6 text-white">Недвижимость</a>

                <!-- Dropdown: Услуги -->
                <div class="relative" @click.away="servicesOpen = false">
                    <button @click="servicesOpen = !servicesOpen" class="text-sm font-semibold leading-6 text-white">
                        Услуги
                    </button>
                    <div x-show="servicesOpen" x-transition class="bg-[#191B1D] absolute left-0 mt-2 min-w-[20rem] rounded-md shadow-lg ring-1 ring-[#191B1D] z-10">
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:mortgage' %}">Ипотека</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:trade-in-page' %}">Меняем старое на новое</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:elite-page' %}">Элитная недвижимость</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:international-page' %}">Международная недвижимость</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:moscow-page' %}">Новостройки Москвы</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:commerce-page' %}">Коммерческая недвижимость</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:design-page' %}">Отделка и дизайн</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:flip-page' %}">Инвестиции в недвижимость</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:purchase-page' %}">Срочный выкуп квартир</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:home-page' %}">Дома и таунхаусы</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:legal-page' %}">Юридические услуги</a>
                    </div>
                </div>

                <!-- Dropdown: Бонусы -->
                <div class="relative" @click.away="bonusOpen = false">
                    <button @click="bonusOpen = !bonusOpen" class="text-sm font-semibold leading-6 text-white">
                        Бонусы
                    </button>
                    <div x-show="bonusOpen" x-transition class="bg-[#191B1D] absolute left-0 mt-2 min-w-[10rem] rounded-md shadow-lg ring-1 ring-[#191B1D] z-10">
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:recommendation-page' %}">Зарабатывайте вместе с нами</a>
                        <a class="block px-4 py-2 text-sm text-white hover:bg-gray-700" href="{% url 'main:bonus-page' %}">Программа лояльности</a>
                    </div>
                </div>

                <a href="{% url 'main:promo-list' %}" class="text-sm font-semibold leading-6 text-white">Акции</a>
                <a href="{% url 'main:article-list' %}" class="text-sm font-semibold leading-6 text-white">Новости</a>
                <a href="{% url 'main:about' %}" class="text-sm font-semibold leading-6 text-white">О компании</a>
                <a href="{% url 'main:contacts' %}" class="text-sm font-semibold leading-6 text-white">Контакты</a>

            </div>

        </div>
        <div class="flex xl:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Открыть</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden xl:flex lg:gap-x-4">
            <a href="https://t.me/novstroy36" class="text-sm font-semibold leading-6 text-white"> <img src="{% static 'pic/tg.svg'%}"></a>
            <a href="https://vk.com/novstroy36" class="text-sm font-semibold leading-6 text-white"> <img src="{% static 'pic/vk.svg'%}"></a>
            <button class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-2 px-4 border border-amber-700 rounded">
                Воронеж
            </button>
            <button data-modal-target="modal" data-modal-toggle="modal" class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-2 px-4 border border-amber-700 rounded">
                Cвязаться
            </button>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div style="display: none;" class="xl:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto  px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
            
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-white">
                    <span class="sr-only">Закрыть</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="{% url 'main:search-list' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Недвижимость</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Услуги</a> <!-- Выпадающий список -->
                        <a href="" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Бонусы</a> <!-- Выпадающий список -->
                        <a href="{% url 'main:promo-list' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Акции</a>
                        <a href="{% url 'main:article-list' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Новости</a>
                        <a href="{% url 'main:about' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">О компании</a>
                        <a href="{% url 'main:contacts' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-500">Контакты</a>
                    </div>
                    <div class="py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-500"> 
                            <button class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-2 px-4 border border-amber-700 rounded">
                                Воронеж
                            </button>
                        </a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-500"> 
                            <button data-modal-target="modal" data-modal-toggle="modal" class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-2 px-4 border border-amber-700 rounded">
                                Связаться
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- <section class="hero is-dark {% block hero_class %}is-large{% endblock %}"{% block hero_styles %}{% endblock %}>
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'images/mini-logo.png' %}" alt="Новостройки Voronezh">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'main:search-list' %}">Новостройки</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Услуги</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{% url 'main:mortgage' %}">Ипотека</a>
                            <a class="navbar-item" href="{% url 'main:trade-in-page' %}">Меняем старое на новое</a>
                            <a class="navbar-item" href="{% url 'main:elite-page' %}">Элитная недвижимость</a>
                            <a class="navbar-item" href="{% url 'main:international-page' %}">Международная недвижимость</a>
                            <a class="navbar-item" href="{% url 'main:moscow-page' %}">Новостройки Москвы</a>
                            <a class="navbar-item" href="{% url 'main:commerce-page' %}">Коммерческая недвижимость</a>
                            <a class="navbar-item" href="{% url 'main:design-page' %}">Отделка и дизайн</a>
                            <a class="navbar-item" href="{% url 'main:flip-page' %}">Инвестиции в недвижимость</a>
                            <a class="navbar-item" href="{% url 'main:purchase-page' %}">Срочный выкуп квартир</a>
                            <a class="navbar-item" href="{% url 'main:home-page' %}">Дома и таунхаусы</a>
                            <a class="navbar-item" href="{% url 'main:legal-page' %}">Юридические услуги</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="{% url 'main:promo-list' %}">Акции</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Бонусы</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{% url 'main:recommendation-page' %}">Зарабатывайте вместе с нами</a>
                            <a class="navbar-item" href="{% url 'main:bonus-page' %}">Программа лояльности</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="{% url 'main:article-list' %}">Новости</a>
                    <a class="navbar-item" href="{% url 'main:about' %}">О компании</a>
                    <a class="navbar-item" href="{% url 'main:contacts' %}">Контакты</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <span class="icon"><i class="fa-solid fa-user"></i></span>
                        </a>
                        <div class="navbar-dropdown is-boxed is-right">
                            {% if not request.user.is_authenticated %}
                                <a class="navbar-item" href="{% url 'main:django_registration_register' %}">
                                    <strong>Регистрация</strong>
                                </a>
                                <a class="navbar-item" href="{% url 'main:login' %}">Авторизация</a>
                            {% else %}
                                <a class="navbar-item" href="{% url 'main:profile-index' %}">Профиль</a>
                                <form action="{% url 'main:logout' %}" method="post">{% csrf_token %}
                                    <button type="submit" class="navbar-item is-selected">Выйти</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="navbar-item">
                        <button type="button" class="button is-warning js-modal-trigger" data-target="modal">
                            Подобрать квартиру
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <section class="section">{% block hero_body %}<p class="title">Title</p><p class="subtitle">Subtitle</p>{% endblock %}</section>
        </div>
    </div>
</section> -->
<div >
{% if messages %}
<section class="section">
    {% for message in messages %}
        <div class="block">
            <div class="message is-{% if message.tags %}{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                <div class="message-body">{{ message|safe }}</div>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}
{% block container %}{% endblock %}
</div>
<!-- <footer class="footer">
    <div class="container">
        <section class="section">
            <div class="fixed-grid has-1-cols-mobile has-4-cols">
                <div class="grid is-gap-3">
                    <div class="cell">
                        <img src="{% static 'images/logo.png' %}" alt="Новостройки Voronezh" class="logo">
                        <p>Экспертный сервис по подбору и покупке квартир от застройщика в Воронеже с учётом всех ваших пожеланий и требований в кратчайшие сроки</p>
                    </div>
                    <ul class="cell">
                        <li><a href="{% url 'main:search-list' %}">Новостройки</a></li>
                        <li><a href="{% url 'main:about' %}">О компании</a></li>
                        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
                    </ul>
                    <ul class="cell">
                        <li><a href="{% url 'main:article-list' %}">Новости</a></li>
                        <li><a href="{% url 'main:promo-list' %}">Акции</a></li>
                        <li><a href="{% url 'main:mortgage' %}">Ипотека</a></li>
                    </ul>
                    <form class="cell is-row-span-2 is-row-start-1-mobile" method="post" action="{% url 'main:feedback-page' %}" onsubmit="ym(68282848,'reachGoal','zayavka'); return true;">{% csrf_token %}
                        <input type="hidden" name="url" value="{{ url }}">
                        <p class="mb-5 is-size-3">Бесплатная консультация по подбору жилья</p>
                        <input type="text" name="name" class="input is-medium mb-5" placeholder="Ваше имя" required>
                        <input type="text" name="phone" class="input is-medium phone-mask mb-5" placeholder="+7 (999) 999-99-99" required>
                        <button type="submit" class="button is-warning is-medium is-fullwidth is-rounded mb-4">Оставить заявку</button>
                        <p>Нажимая кнопку вы даете согласие на обработку <a href="{% url 'main:privacy-page' %}">персональных данных</a></p>
                    </form>
                    <div class="cell">
                        <p class="copyright panel">ООО «НВ»<br>Все права защищены © 2023</p>
                        <div class="mt-4">
                            <a href="{% url 'main:policy-page' %}" class="policy">Политика конфиденциальности</a>
                        </div>
                        <div class="mt-4">
                            <a href="{% url 'main:privacy-page' %}" class="personal">Соглашение на обработку персональных данных</a>
                        </div>
                    </div>
                    <div class="cell address">
                        <p class="block">ул. Беговая, 63</p>
                        <p class="block">Московский пр-кт, 132</p>
                        <p class="block">Пн-пт: 9:00 - 20:00</p>
                        <p class="block">Сб: 10:00 - 17:00</p>
                        <p>Вс: 10:00 - 16:00</p>
                    </div>
                    <div class="cell">
                        <ul>
                            <li class="panel"><a href="tel:74732023233" class="fw-bolder">+7 (473) 202-32-33</a></li>
                            <li><a href="mailto:info@квартиры36.рф">info@квартиры36.рф</a></li>
                        </ul>
                        <div class="social-networks mt-4">
                            <a href="https://vk.com/novstroy36" target="_blank" class="is-size-4 mr-2">
                                <i class="fa-brands fa-vk"></i>
                            </a>
                            <a href="https://t.me/novstroy36" target="_blank" class="is-size-4">
                                <i class="fa-brands fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p>Представленная на сайте информация, опубликованные материалы, в том числе цены, не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса Российской Федерации. Запрещено использование материалов сайта без согласия его авторов и ссылки на сайт. Показатели и характеристики проекта, указанные на данном сайте, являются проектными (плановыми) и могут быть изменены.</p>
        </section>
    </div>
</footer> -->
<!-- Отвечаем на ваши вопросы -->
{% include 'blocks/answer-your-questions.html'%}
<footer class="">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid  gap-4 px-4 py-6 lg:py-8 lg:grid-cols-5 md:grid-cols-3  sm:grid-cols-1 sm:items-center">
      	    <div class="m-auto md:justify-between text-sm">
                <h2 class="mb-6 font-semibold text-white"><img src="{% static 'pic/logo-f.svg'%}"></h2>
                <ul class="text-gray-300 font-medium text-sm">
                    <li class="mb-2">
                        <div class="socials flex gap-2 ">
                            <a href=""><img src="{% static 'pic/vk-f.svg'%}"></a>
                            <a href=""><img src="{% static 'pic/tg-f.svg'%}"></a>
                            <a href=""><img src="{% static 'pic/yt-f.svg'%}"></a>
                            <a href=""><img src="{% static 'pic/rt-f.svg'%}"></a>
                        </div>
                    </li>
                    <li class="mb-1 text-sm text-gray-500">
                        <a href="#" class="hover:none">ООО "Новостройки Воронеж"<br>ИНН7842133445<br>КПП784201001<br>ОГРН1177847150403</a>
                    </li>
                
                </ul>
            </div>
            <div class="m-auto md:justify-between  ">
                <h2 class="mb-3  font-semibold text-white"><a href="{% url 'main:search-list' %}">Недвижимость</a></h2>
                <ul class="text-gray-500 font-medium text-sm">
                    <li class="mb-1">
                        <a href="#" class=" hover:underline">Новостройки</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Вторичная<br>недвижимость</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Загородная<br>недвижимость</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Коммерческая<br>недвижимость</a>
                    </li>
                </ul>
            </div>
            <div class="m-auto md:justify-between  ">
                <h2 class="mb-3 font-semibold text-white">Услуги</h2>
                <ul class="text-gray-500 font-medium text-sm">
                    <li class="mb-1">
                        <a href="{% url 'main:mortgage' %}" class="hover:underline">Ипотека</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Старое на новоеr</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Готовые бизнесы</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Международная<br>деятельность</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Новостройки москвы</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Отделка и дизайн</a>
                    </li>
                </ul>
            </div>
            <div class="m-auto md:justify-between  ">
                <h2 class="mb-3  font-semibold text-white"><a href="{% url 'main:about' %}">О компании</a></h2>
                <ul class="text-white font-medium text-sm">
                    <li class="mb-3">
                        <a href="{% url 'main:contacts' %}" class="hover:underline">Контакты</a>
                    </li>
                    <li class="mb-3">
                        <a href="{% url 'main:promo-list' %}" class="hover:underline">Акции</a>
                    </li>
                    <li class="mb-3">
                        <a href="{% url 'main:article-list' %}" class="hover:underline">Новости</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="hover:underline">Бонусы</a>
                    </li>
                </ul>
            </div>
            <div class="m-auto md:justify-between">
                <h2 class="mb-3  font-semibold text-gray-500"><a href="{% url 'main:contacts' %}">Контакты</a></h2>
                <ul class="text-white text-sm">
                    <li class="mb-1">
                        <a href="tel:+74732023233" class="hover:underline ">+7(473)202-32-33</a>
                    </li>
                    <li class="mb-1">
                        <a href="mailto:info@квартиры36.рф" class="hover:underline ">info@квартиры36.рф</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline ">ул. Беговая, 63<br>Московский пр-кт, 132</a>
                    </li>
                    <li class="mb-3">
                        <span class="text-sm">Пн-пт: 9:00-20:00<br>Cб: 10:00-17:00<br>Вс: 10:00-16:00</span>
                    </li>
                    <li class="mb-3">
                        <button data-modal-target="modal" data-modal-toggle="modal"  class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-2 px-4 border border-amber-700 rounded">
                            Связаться с нами
                        </button>
                    </li>
                </ul>
            </div>
        </div>
   

        <div class="px-4 py-6  md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 ">©"Новостройки Воронеж". 2025.
            </span>
        </div>
    </div>
</footer>
<div id="modal" class="bg-[#78787880] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="modal-background"></div>
    <form class="rounded-lg flex flex-col max-w-2xl bg-[#2C2C2E]" method="post" action="{% url 'main:feedback-page' %}" onsubmit="ym(68282848,'reachGoal','zayavka'); return true;">{% csrf_token %}
        <header class="modal-card-head">
            
            <!-- <button class="delete" aria-label="close"></button> -->
            <button data-modal-hide="modal" type="button" class="block ml-auto mr-0 pb-1 pt-4 px-3 text-sm font-medium focus:outline-none rounded-lg focus:z-10 focus:ring-4 focus:ring-gray-100 text-[#787878] hover:text-white">
                <svg width="18" height="18" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.5L13 12.5M13 0.500002L1 12.5" stroke="#787878" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </header>
        <section class="modal-card-body">
            <!-- <div class="m-auto min-h-64 px-8 py-5 " style="">
                <img src="{% static 'pic/feedback_pic.jpg'%}" alt="Бесплатная консультация" class="w-full"/>
            </div> -->
            <div class="px-8 pb-5 ">
                <div class="m-auto min-h-48 w-full block max-h-64 rounded-t-lg"
                    style="
                        background-image: url('{% static "pic/feedback_pic.jpg" %}'); 
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;">
                </div>  
            </div>
            
            <p class="px-8 text-white text-4xl">Бесплатная консультация</p>
            <p class="px-8 pt-2 text-white text-2xl">Заполните форму, мы свяжемся с вами</p>
            <input type="hidden" name="url" value="{{ url }}">
            <div class="px-8 pt-5 mt-2">
                <input required
                    type="text" 
                    name="name" 
                    id="modal-name" 
                    class="min-h-16 block w-full rounded-md border-1 border-amber-600 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-amber-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-amber-900 sm:text-md sm:leading-6" 
                    placeholder="Ваше имя">
            </div>
            <div class="px-8 mt-3">
                <input required
                    type="text" 
                    name="phone" 
                    id="modal-phone" 
                    class="min-h-16 block w-full rounded-md border-1 border-amber-600 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-amber-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-amber-900 sm:text-md sm:leading-6" 
                    placeholder="Телефон">
            </div>
            <div class="px-8 mt-3 relative flex items-start">
                <div class="flex h-6 items-center">
                    <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox" class="h-5 w-5 rounded border-gray-300 text-amber-600 focus:ring-amber-600">
                </div>
                <div class="ml-3 text-base leading-[1]">
                    <label for="comments" class="text-white">Оставляя заявку вы соглашаетесь с политикой <br><a class="text-amber-600" href="{% url 'main:privacy-page' %}">обработки персональных данных</a></label>
                    <!-- <p id="comments-description" class="text-amber-600"><a href="{% url 'main:privacy-page' %}">обработки персональных данных</a></p> -->
                </div>
            </div>
            <!-- <p class="mb-0">Отправляя форму Вы даете согласие на обработку <a href="{% url 'main:privacy-page' %}">персональных данных</a></p> -->
        </section>
        <footer class="modal-card-foot">
            <div class="m-auto text-center pb-6 px-8">
                <button type="submit" class="w-full rounded-lg bg-amber-600 hover:bg-amber-600 text-white font-bold py-4 px-8 border border-amber-700 xs:mt-1 mt-4 mb-2">
                    Оставить заявку
                </button>
            </div>
            <!-- <button type="submit" class="button is-warning is-medium is-fullwidth is-rounded">Оставить заявку</button> -->
        </footer>
    </form>
    <button class="modal-close is-large" aria-label="close"></button>
</div>


<script src="{% static 'libs/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'libs/jquery.mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/phone.mask.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% block scripts %}{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(68282848, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/68282848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Top.Mail.Ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "3527358", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = "https://top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "tmr-code");
</script>
<noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3527358;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
<!-- /Top.Mail.Ru counter -->
</body>
</html>