{% load tools %}
{% if is_paginated %}
<section class="flex max-w-7xl w-full mx-auto">
    <div class="flex max-w-7xl px-6 pt-5 lg:items-center lg:px-8">
        {# Первая страница #}
        {% if page_obj.has_previous %}
            <a href="?{% fix_page_request request.GET %}page=1"
            class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] hover:bg-gray-700 mr-1">&laquo;</a>
            <a href="?{% fix_page_request request.GET %}page={{ page_obj.previous_page_number }}"
            class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] hover:bg-gray-700 mr-1">&lsaquo;</a>
        {% else %}
            <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">&laquo;</span>
            <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">&lsaquo;</span>
        {% endif %}

        {# Номера страниц с сокращением #}
        {% for num in page_obj.paginator.page_range %}
            {% if num == 1 or num == page_obj.paginator.num_pages or num >= page_obj.number|add:"-1" and num <= page_obj.number|add:"1" %}
                {% if page_obj.number == num %}
                    <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">{{ num }}</span>
                {% else %}
                    <a href="?{% fix_page_request request.GET %}page={{ num }}"
                    class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] hover:bg-gray-700 mr-1">{{ num }}</a>
                {% endif %}
            {% elif num == page_obj.number|add:"-2" or num == page_obj.number|add:"2" %}
                <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">...</span>
            {% endif %}
        {% endfor %}

        {# Последняя страница #}
        {% if page_obj.has_next %}
            <a href="?{% fix_page_request request.GET %}page={{ page_obj.next_page_number }}"
            class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] hover:bg-gray-700 mr-1">&rsaquo;</a>
            <a href="?{% fix_page_request request.GET %}page={{ page_obj.paginator.num_pages }}"
            class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] hover:bg-gray-700 mr-1">&raquo;</a>
        {% else %}
            <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">&rsaquo;</span>
            <span class="w-10 h-10 flex items-center justify-center rounded bg-[#2C2C2E] mr-1">&raquo;</span>
        {% endif %}
    </div>
</section>

{% endif %}
