{% extends 'base_view.html' %}

{% load static %}

{% block hero_class %}hero-elite is-medium{% endblock %}
{% block hero_body %}
    <h1 class="title is-size-2 is-uppercase">{{ title }}</h1>
    <p class="is-size-4">Актуальный каталог недвижимости комфорт и премиум-класса. Трейд-ин. Льготная ипотека.</p>
{% endblock %}

{% block container %}

<!-- Элитная недвижимость -->

<section class="flex items-center justify-center">
    <div class="max-w-7xl lg:mx-0 w-full mx-6">
        <div class="bg-[#2C2C2E] text-white p-6 rounded-xl shadow-lg flex flex-col sm:flex-row items-center sm:items-center text-center sm:text-left lg:px-8 lg:mx-8 px-6">
            <div class="order-2 sm:order-1 flex-1">
                <h2 class="sm:text-4xl text-3xl font-bold">Элитная недвижимость</h2>
                <p class="mt-2 text-gray-300">Помогаем в подборе и покупке рентабельной элитной недвижимости!</p>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button"class="mt-4 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded w-full sm:w-auto">
                   Подобрать недвижимость
                </button>
            </div>
            <div class="order-1 sm:order-2 w-40 h-40 sm:w-56 sm:h-56 mb-4 sm:mb-0 sm:ml-6">  
                <img src="{%static 'pic/luxe.svg'%}" alt="Ипотека" class="w-full h-full object-cover rounded-lg"> 
            </div>
        </div>
    </div>
    
</section>

<section class=" pt-20 "> <!-- Секция 6 -->
    <div class="mx-auto max-w-7xl  lg:flex lg:items-center lg:justify-between pb-8  px-6  sm:py-15 lg:px-8">
        <h1 class="text-left text-white md:text-5xl sm:text-4xl text-4xl">
            <span>Подберем для вас</span>
        </h1>
    </div> 
    <div class=" text-white hidden xl:block">
        <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 grid-rows-11 gap-4 mx-auto max-w-7xl px-6 py-2 sm:py-2 lg:items-start lg:px-8 text-white ">
            <!-- Карточка 1 (увеличенная по высоте) -->
            <div 
                class="hidden md:flex relative bg-[#2C2C2E] rounded-lg lg:col-span-1 lg:row-span-11 flex-col justify-between lg:h-full " 
                style="background-image: url({%static 'pic/apartment.png'%}); background-repeat: no-repeat; background-position: center;">
            </div>
            
            <div class="p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 xl:col-span-2">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
                <div class="flex">
                    <svg width="44" height="49" viewBox="0 0 44 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3748 47.5H29.0545V5.41823C29.0545 3.22402 27.3305 1.5 25.1363 1.5H19.1022C16.908 1.5 15.184 3.22402 15.184 5.41823V15.0571" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.6507 14.9785H8.52297C7.5826 14.9785 6.79895 15.7622 6.79895 16.7025V47.4998H21.3748V16.7025C21.3748 15.7622 20.5911 14.9785 19.6507 14.9785Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M42.6116 47.499H29.0545V10.1191H38.3799C40.7308 10.1191 42.6116 11.9999 42.6116 14.3508V47.499Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M32.5809 10.1191V47.499" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 34.7266H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 31.5938H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 28.5352H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 25.4004H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 22.2676H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 19.1328H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 17.5645H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 21.6406H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 25.4004H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 29.5547H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.79898 47.4988H1V25.6351C1 24.4597 1.94038 23.5977 3.03748 23.5977H6.72061" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3969 18.0352H9.62012V47.1868H18.3969V18.0352Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.1619 14.9781V5.88784C18.1619 4.94747 18.8671 4.24219 19.8075 4.24219H24.3527C25.293 4.24219 25.9983 4.94747 25.9983 5.88784V19.2098" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">1</h1>
                </div>
                
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Квартиру в новостройке премиум-класса</h5>
                    </a>
                </div>   
            </div>

            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="39" viewBox="0 0 48 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 17.0986L10.1522 1.5L19.4637 17.0986V37.9498H1V17.0986Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 37.9498H47V17.0986L37.6886 1.5H10.1523" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4636 17.0977H47" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.7682 1.5L24.0796 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 1.5L28.7751 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.0796 1.5L33.4706 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M28.7751 1.5L38.1661 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.4706 1.5L42.7821 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M31.481 21.1562H22.8859V31.1839H31.481V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.1833 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.8859 26.1719H31.481" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.6575 21.1562H35.0624V31.1839H43.6575V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.2803 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M35.0624 26.1719H43.5779" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7785 23.5449H7.44635V37.9498H12.7785V23.5449Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.0519 17.098H6.09344C5.69551 17.098 5.53634 16.3022 5.85468 15.9043L9.83392 9.69664C9.99309 9.45789 10.2318 9.45789 10.391 9.69664L14.3703 15.9043C14.609 16.3022 14.4498 17.098 14.0519 17.098Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">2</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Частный дом в модном коттеджном поселке</h5>
                    </a>
                    
                </div>
            </div>
            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23883 45.7744C2.54854 43.8387 4.71649 43.9936 4.71649 43.9936C4.71649 43.9936 4.87134 42.5225 6.26502 42.2128C6.41988 42.2128 6.49731 42.1353 6.65216 42.1353C6.65216 42.1353 6.72959 41.3611 7.50385 40.9739C7.73613 40.8965 7.96841 40.8191 8.27812 40.7417C9.51695 40.5868 10.2912 41.5159 10.2912 42.3676C10.2912 42.3676 12.072 41.9031 12.4592 43.9936C12.4592 43.9936 14.1626 43.6064 14.1626 45.8518" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8594 17.2812L12.7689 20.4557" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.7307 15.6562L16.6402 18.8307" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.7766 9.77157H4.79395V28.5089L27.9446 20.921C28.8737 20.6113 29.3382 19.5274 29.0285 18.5208L23.9184 4.81626C23.6861 4.19684 24.1506 3.5 24.7701 3.5H46.0624C46.6044 3.5 47.069 4.04199 46.9916 4.58398L39.4812 45.775H45.5204V12.4815" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79391 9.7723H3.47766C3.16795 9.7723 2.93567 9.54002 2.93567 9.23031V7.37207C2.93567 7.06236 3.16795 6.83008 3.47766 6.83008H24.6926" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79395 28.5096V30.4453C4.79395 31.1421 5.49079 31.6841 6.1102 31.4518L29.4931 23.2446C31.5836 22.4703 32.6676 19.9926 31.8159 17.8247L28.0994 8.06891C27.7897 7.44949 28.1768 6.83008 28.7188 6.83008H42.8105C43.2751 6.83008 43.6622 7.29464 43.5848 7.83663L36.0744 45.8532H39.4812" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M46.9915 45.7734H1" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.27155 41.1299V31.0645" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.4407 26.1094V45.7758" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23.8409 25.1797V45.7752" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.3186 24.3281V45.7754" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3632 38.6523H17.5693V45.7756H21.3632V38.6523Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">3</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Зарубежную недвижимость для жизни и инвестиций</h5>
                    </a>
                
                </div>
            </div>
            <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="h-full rounded-lg shadow-sm rounded-lg bg-amber-600 col-span-2">
                Получить консультацию
            </button>
        </div>
    </div>

    <div class=" text-white hidden lg:block xl:hidden">
        <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 grid-rows-16 gap-4 mx-auto max-w-7xl px-6 py-2 sm:py-2 lg:items-start lg:px-8 text-white ">
            <!-- Карточка 1 (увеличенная по высоте) -->
            <div 
                class="hidden md:flex relative bg-[#2C2C2E] rounded-lg lg:col-span-1 lg:row-span-16 flex-col justify-between lg:h-full " 
                style="background-image: url({%static 'pic/apartment.png'%}); background-repeat: no-repeat; background-position: center;">
            </div>
            
            <div class="p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 xl:col-span-2">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
                <div class="flex">
                    <svg width="44" height="49" viewBox="0 0 44 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3748 47.5H29.0545V5.41823C29.0545 3.22402 27.3305 1.5 25.1363 1.5H19.1022C16.908 1.5 15.184 3.22402 15.184 5.41823V15.0571" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.6507 14.9785H8.52297C7.5826 14.9785 6.79895 15.7622 6.79895 16.7025V47.4998H21.3748V16.7025C21.3748 15.7622 20.5911 14.9785 19.6507 14.9785Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M42.6116 47.499H29.0545V10.1191H38.3799C40.7308 10.1191 42.6116 11.9999 42.6116 14.3508V47.499Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M32.5809 10.1191V47.499" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 34.7266H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 31.5938H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 28.5352H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 25.4004H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 22.2676H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 19.1328H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 17.5645H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 21.6406H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 25.4004H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 29.5547H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.79898 47.4988H1V25.6351C1 24.4597 1.94038 23.5977 3.03748 23.5977H6.72061" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3969 18.0352H9.62012V47.1868H18.3969V18.0352Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.1619 14.9781V5.88784C18.1619 4.94747 18.8671 4.24219 19.8075 4.24219H24.3527C25.293 4.24219 25.9983 4.94747 25.9983 5.88784V19.2098" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">1</h1>
                </div>
                
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Квартиру в новостройке премиум-класса</h5>
                    </a>
                </div>   
            </div>

            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="39" viewBox="0 0 48 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 17.0986L10.1522 1.5L19.4637 17.0986V37.9498H1V17.0986Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 37.9498H47V17.0986L37.6886 1.5H10.1523" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4636 17.0977H47" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.7682 1.5L24.0796 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 1.5L28.7751 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.0796 1.5L33.4706 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M28.7751 1.5L38.1661 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.4706 1.5L42.7821 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M31.481 21.1562H22.8859V31.1839H31.481V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.1833 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.8859 26.1719H31.481" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.6575 21.1562H35.0624V31.1839H43.6575V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.2803 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M35.0624 26.1719H43.5779" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7785 23.5449H7.44635V37.9498H12.7785V23.5449Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.0519 17.098H6.09344C5.69551 17.098 5.53634 16.3022 5.85468 15.9043L9.83392 9.69664C9.99309 9.45789 10.2318 9.45789 10.391 9.69664L14.3703 15.9043C14.609 16.3022 14.4498 17.098 14.0519 17.098Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">2</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Частный дом в модном коттеджном поселке</h5>
                    </a>
                    
                </div>
            </div>
            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] row-span-5 dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23883 45.7744C2.54854 43.8387 4.71649 43.9936 4.71649 43.9936C4.71649 43.9936 4.87134 42.5225 6.26502 42.2128C6.41988 42.2128 6.49731 42.1353 6.65216 42.1353C6.65216 42.1353 6.72959 41.3611 7.50385 40.9739C7.73613 40.8965 7.96841 40.8191 8.27812 40.7417C9.51695 40.5868 10.2912 41.5159 10.2912 42.3676C10.2912 42.3676 12.072 41.9031 12.4592 43.9936C12.4592 43.9936 14.1626 43.6064 14.1626 45.8518" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8594 17.2812L12.7689 20.4557" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.7307 15.6562L16.6402 18.8307" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.7766 9.77157H4.79395V28.5089L27.9446 20.921C28.8737 20.6113 29.3382 19.5274 29.0285 18.5208L23.9184 4.81626C23.6861 4.19684 24.1506 3.5 24.7701 3.5H46.0624C46.6044 3.5 47.069 4.04199 46.9916 4.58398L39.4812 45.775H45.5204V12.4815" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79391 9.7723H3.47766C3.16795 9.7723 2.93567 9.54002 2.93567 9.23031V7.37207C2.93567 7.06236 3.16795 6.83008 3.47766 6.83008H24.6926" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79395 28.5096V30.4453C4.79395 31.1421 5.49079 31.6841 6.1102 31.4518L29.4931 23.2446C31.5836 22.4703 32.6676 19.9926 31.8159 17.8247L28.0994 8.06891C27.7897 7.44949 28.1768 6.83008 28.7188 6.83008H42.8105C43.2751 6.83008 43.6622 7.29464 43.5848 7.83663L36.0744 45.8532H39.4812" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M46.9915 45.7734H1" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.27155 41.1299V31.0645" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.4407 26.1094V45.7758" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23.8409 25.1797V45.7752" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.3186 24.3281V45.7754" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3632 38.6523H17.5693V45.7756H21.3632V38.6523Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">3</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Зарубежную недвижимость для жизни и инвестиций</h5>
                    </a>
                
                </div>
            </div>
            <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="h-full rounded-lg shadow-sm rounded-lg bg-amber-600 col-span-1">
                Получить консультацию
            </button>
        </div>
    </div>

    <div class=" text-white lg:hidden block">
        <div class="grid grid-cols-1 gap-4 mx-auto max-w-7xl px-6 py-2 sm:py-2 lg:items-start lg:px-8 text-white ">

            <div class="p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 col-span-1">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
                <div class="flex">
                    <svg width="44" height="49" viewBox="0 0 44 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3748 47.5H29.0545V5.41823C29.0545 3.22402 27.3305 1.5 25.1363 1.5H19.1022C16.908 1.5 15.184 3.22402 15.184 5.41823V15.0571" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.6507 14.9785H8.52297C7.5826 14.9785 6.79895 15.7622 6.79895 16.7025V47.4998H21.3748V16.7025C21.3748 15.7622 20.5911 14.9785 19.6507 14.9785Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M42.6116 47.499H29.0545V10.1191H38.3799C40.7308 10.1191 42.6116 11.9999 42.6116 14.3508V47.499Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M32.5809 10.1191V47.499" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 34.7266H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 31.5938H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 28.5352H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 25.4004H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 22.2676H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3748 19.1328H29.0545" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 17.5645H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 21.6406H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4395 25.4004H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4396 29.5547H38.2232" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.79898 47.4988H1V25.6351C1 24.4597 1.94038 23.5977 3.03748 23.5977H6.72061" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3969 18.0352H9.62012V47.1868H18.3969V18.0352Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.1619 14.9781V5.88784C18.1619 4.94747 18.8671 4.24219 19.8075 4.24219H24.3527C25.293 4.24219 25.9983 4.94747 25.9983 5.88784V19.2098" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">1</h1>
                </div>
                
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Квартиру в новостройке премиум-класса</h5>
                    </a>
                </div>   
            </div>

            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="39" viewBox="0 0 48 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 17.0986L10.1522 1.5L19.4637 17.0986V37.9498H1V17.0986Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 37.9498H47V17.0986L37.6886 1.5H10.1523" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4636 17.0977H47" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.7682 1.5L24.0796 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4637 1.5L28.7751 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.0796 1.5L33.4706 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M28.7751 1.5L38.1661 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M33.4706 1.5L42.7821 17.0986" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M31.481 21.1562H22.8859V31.1839H31.481V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.1833 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.8859 26.1719H31.481" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.6575 21.1562H35.0624V31.1839H43.6575V21.1562Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M39.2803 21.1562V31.1839" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M35.0624 26.1719H43.5779" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7785 23.5449H7.44635V37.9498H12.7785V23.5449Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.0519 17.098H6.09344C5.69551 17.098 5.53634 16.3022 5.85468 15.9043L9.83392 9.69664C9.99309 9.45789 10.2318 9.45789 10.391 9.69664L14.3703 15.9043C14.609 16.3022 14.4498 17.098 14.0519 17.098Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">2</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Частный дом в модном коттеджном поселке</h5>
                    </a>
                    
                </div>
            </div>
            <div class=" p-6 bg-[#2C2C2E] h-96 sm:h-72 rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 col-span-1 ">
                <div class="flex">
                    <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23883 45.7744C2.54854 43.8387 4.71649 43.9936 4.71649 43.9936C4.71649 43.9936 4.87134 42.5225 6.26502 42.2128C6.41988 42.2128 6.49731 42.1353 6.65216 42.1353C6.65216 42.1353 6.72959 41.3611 7.50385 40.9739C7.73613 40.8965 7.96841 40.8191 8.27812 40.7417C9.51695 40.5868 10.2912 41.5159 10.2912 42.3676C10.2912 42.3676 12.072 41.9031 12.4592 43.9936C12.4592 43.9936 14.1626 43.6064 14.1626 45.8518" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8594 17.2812L12.7689 20.4557" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.7307 15.6562L16.6402 18.8307" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.7766 9.77157H4.79395V28.5089L27.9446 20.921C28.8737 20.6113 29.3382 19.5274 29.0285 18.5208L23.9184 4.81626C23.6861 4.19684 24.1506 3.5 24.7701 3.5H46.0624C46.6044 3.5 47.069 4.04199 46.9916 4.58398L39.4812 45.775H45.5204V12.4815" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79391 9.7723H3.47766C3.16795 9.7723 2.93567 9.54002 2.93567 9.23031V7.37207C2.93567 7.06236 3.16795 6.83008 3.47766 6.83008H24.6926" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.79395 28.5096V30.4453C4.79395 31.1421 5.49079 31.6841 6.1102 31.4518L29.4931 23.2446C31.5836 22.4703 32.6676 19.9926 31.8159 17.8247L28.0994 8.06891C27.7897 7.44949 28.1768 6.83008 28.7188 6.83008H42.8105C43.2751 6.83008 43.6622 7.29464 43.5848 7.83663L36.0744 45.8532H39.4812" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M46.9915 45.7734H1" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.27155 41.1299V31.0645" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.4407 26.1094V45.7758" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23.8409 25.1797V45.7752" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.3186 24.3281V45.7754" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.3632 38.6523H17.5693V45.7756H21.3632V38.6523Z" stroke="#BF6128" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h1 class="text-5xl ml-auto font-bold" style="color: #787878;">3</h1>
                </div>
                <div class="pt-16">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold text-white">Зарубежную недвижимость для жизни и инвестиций</h5>
                    </a>
                
                </div>
            </div>
            <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="h-15 text-xl rounded-lg shadow-sm rounded-lg bg-amber-600 col-span-1    ">
                Получить консультацию
            </button>
        </div>
    </div>
</section>

<!-- В нашей базе вы найдете классические -->
<section class=" pt-20"> <!-- Секция 6 -->
    <div class="mx-auto max-w-7xl  lg:flex lg:items-center lg:justify-between pb-8  px-6  sm:py-15 lg:px-8">
        <h1 class="text-left text-white md:text-5xl sm:text-4xl text-4xl">
            <span>В нашей базе вы найдете классические и эксклюзивные варианты квартир</span>
        </h1>
    </div> 

    <div class="grid sm:grid-cols-6 grid-cols-1 gap-6  mx-auto max-w-7xl px-6 py-8 sm:py-15  lg:items-center lg:px-8">
         <div class="sm:col-span-3 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>С высокими потолками </h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-7.svg'%}">
            </div>
        </div>
        <div class="sm:col-span-3 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>С панорамным окном</h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-8.svg'%}">
            </div>
        </div>
        <div class="sm:col-span-2 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>Двухуровневые</h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-9.svg'%}">
            </div>
        </div>
        <div class="sm:col-span-2 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>С террасами</h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-10.svg'%}">
            </div>
        </div>
        <div class="sm:col-span-2 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>С мастер-спальней  </h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-11.svg'%}">
            </div>
        </div>

        <!-- Нижняя строка -->

        <div class="sm:col-span-3 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>С окном-фартуком</h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-12.svg'%}">
            </div>
        </div>
        <div class="sm:col-span-3 p-3 bg-[#2C2C2E]  rounded-lg shadow-sm dark:bg-[#2C2C2E] dark:border-gray-700 grid grid-cols-3">
            <!-- <img src="pic/main-1.svg" class="py-1"> -->
            <div class="col-span-2 xl:p-3 text-md xl:text-2xl md:text-xl font-normal text-white content-center">
                <h1>Со свободной планировкой</h1>
            </div>
            <div class="col-span-1 p-3 justify-items-end content-center">
                <img src="{% static 'pic/l-13.svg'%}">
            </div>
        </div>
    </div>
</section>

<!-- Жилые комплексы с нужными вам преимуществами -->
<section class=" pt-20"> <!-- Секция 6 -->
    <div class="mx-auto max-w-7xl  lg:flex lg:items-center lg:justify-between pb-8  px-6  sm:py-15 lg:px-8">
        <h1 class="text-left text-white md:text-5xl sm:text-4xl text-2xl">
            <span>Жилые комплексы с нужными вам преимуществами</span>
        </h1>
    </div> 
  <div class="grid gap-6 mx-auto max-w-7xl px-6 lg:px-8 grid-cols-2 sm:grid-cols-2 md:grid-cols-3">
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-1.jpg' %}" alt="Архитектура мирового уровня">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md text-white font-medium">Архитектура мирового уровня</p>
                </figcaption>
            </figure>
        </div>
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-2.jpg'%}" alt="Закрытая территория">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md  text-white font-medium">Закрытая территория</p>
                </figcaption>
            </figure>
        </div>
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-3.jpg'%}" alt="Продуманное благоустройство">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md  text-white font-medium">Продуманное благоустройство</p>
                </figcaption>
            </figure>
        </div>
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-4.jpg'%}" alt="Подземный паркинг">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md  text-white font-medium">Подземный паркинг</p>
                </figcaption>
            </figure>
        </div>
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-5.jpg'%}" alt="Дизайнерские холлы">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md  text-white font-medium">Дизайнерские холлы</p>
                </figcaption>
            </figure>
        </div>
        <div class="relative w-full h-full">
            <figure class="relative w-full h-full">
                <img class="w-full h-full object-cover rounded-lg aspect-[4/3]" src="{% static 'pic/lu-6.jpg'%}" alt="Коммерческие помещения">
                <figcaption class="absolute top-6 left-4">
                    <p class="sm:text-xl text-md  text-white font-medium">Красивые виды</p>
                </figcaption>
            </figure>
        </div>
         <div class="md:col-end-3 md:col-span-1 sm:col-span-2 sm:col-start-1 col-span-1 mx-auto w-full text-center pb-6">
            <a  href="{% url 'main:search-list' %}" class="btn w-full rounded-lg bg-amber-600 hover:bg-amber-600 text-white font-bold py-6 px-2 border border-amber-700 xs:mt-1 mt-4 mb-2 text-sm">
              Подобрать недвижимость
            </a>
        </div>
    </div>
</section>

<!-- Вам может понравится квартиры -->
{% include 'blocks/you-may-like.html' with flats=flats %}

<!-- Лучшие условия -->
{% include 'blocks/consultation.html' with block_title='Бесплатная консультация эксперта по недвижимости' %}


<!-- Новости -->
{% include 'blocks/news_list.html' with block_title='Бесплатная консультация эксперта по недвижимости' %}

<!-- Опираемся на многолетний опыт -->
{% include 'blocks/many-years-experience.html'%}

<!-- {% include 'blocks/new_flats.html' %}
{% include 'blocks/consultation.html' %} -->
{% endblock %}