{% extends 'base_view.html' %}

{% load static %}

{% block hero_class %}hero-flip is-medium{% endblock %}
{% block hero_body %}
    <h1 class="title is-size-2 is-uppercase">Инвестиции в недвижимость с доходностью от 40% годовых за 3-5 месяцев</h1>
{% endblock %}

{% block container %}
<section class="section">
    <div class="card">
        <div class="card-content content">
            <p>Хотите инвестировать в недвижимость? С нашим агентством это делать выгоднее всего! В зависимости от Ваших целей и задач мы предлагаем несколько вариантов вложений в &laquo;квадратные метры&raquo;:</p>
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th scope="col">Критерий</th>
                        <th scope="col" class="has-background-warning-light has-text-centered">Пассивный доход от инвестиций на &laquo;вторичке&raquo;</th>
                        <th scope="col" class="has-text-centered">Новостройки Воронежа</th>
                        <th scope="col" class="has-text-centered">Новостройки Москвы</th>
                        <th scope="col" class="has-text-centered">Новостройка Турции и Кипра</th>
                        <th scope="col">Депозит</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Минимальный порог входа*</td>
                        <td class="has-background-warning-light has-text-centered">От 1.75 млн. руб.</td>
                        <td class="has-text-centered">От 1.5 млн. руб.</td>
                        <td class="has-text-centered">От 3.5 млн. руб.</td>
                        <td class="has-text-centered">От 3.5 млн. руб.</td>
                        <td>От 10 тыс. руб.</td>
                    </tr>
                    <tr>
                        <td>Доходность</td>
                        <td class="has-background-warning-light has-text-centered">40%</td>
                        <td class="has-text-centered">20%</td>
                        <td class="has-text-centered">25%</td>
                        <td class="has-text-centered">30%</td>
                        <td>7-16%</td>
                    </tr>
                    <tr>
                        <td>Срок получения дохода</td>
                        <td class="has-background-warning-light has-text-centered">3-5 месяцев</td>
                        <td class="has-text-centered">2-4 года</td>
                        <td class="has-text-centered">2-4 года</td>
                        <td class="has-text-centered">2-4 года</td>
                        <td>1 год</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="has-text-grey">*при покупке квартиры в ипотеку</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <p class="card-content">Пассивный доход с минимальными вложениями от флиппинга – отличное решение для тех, кто хочет получить <span class="has-text-weight-semibold">максимальный гарантированный доход в короткие сроки</span>! Мы помогаем Вам купить квартиру в старом доме, сделать хороший ремонт, подобрать мебель и продать ее значительно дороже.</p>
    </div>
</section>
<section class="section">
    <h2 class="is-size-3 mb-6">Вы можете заработать от 40% годовых</h2>
    <div class="card">
        <div class="card-content">
            <div class="fixed-grid has-4-cols has-1-cols-mobile">
                <div class="grid is-gap-0 is-align-items-center">
                    <div class="cell is-row-span-3-tablet is-flex is-align-items-center">
                        <h3 class="has-text-weight-semibold is-size-3 has-text-weight-semibold">Как это работает?</h3>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">01.</div>
                            <div class="column">Подбор квартиры во вторичке по минимальной стоимости в выгодной локации</div>
                        </div>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">02.</div>
                            <div class="column">Покупка квартиры в ипотеку или за собственные средства*.</div>
                        </div>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">03.</div>
                            <div class="column">Современный ремонт</div>
                        </div>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">04.</div>
                            <div class="column">Меблировка квартиры</div>
                        </div>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">05.</div>
                            <div class="column">Быстрая и выгодная продажа квартиры по максимальной цене</div>
                        </div>
                    </div>
                    <div class="cell p-3">
                        <div class="columns is-align-items-center">
                            <div class="column is-narrow is-size-2 nv-text-color">06.</div>
                            <div class="column">Подсчет прибыли</div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="has-text-grey">* С экономической точки зрения, покупать квартиру в ипотеку гораздо выгоднее! (финансовая модель в таблицах далее)</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless"><p class="card-header-title is-size-3">Сколько времени это займет?</p></div>
        <p class="card-content">Все этапы сделки занимают в среднем 3-5 месяцев (в зависимости от комнатности квартиры)</p>
    </div>    
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless"><p class="card-header-title is-size-3">Сколько можно заработать? (за вычетом налога на доход)</p></div>
        <p class="card-content">От 250 до 800 тыс. руб. (в зависимости от комнатности квартиры)</p>
    </div>    
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless">
            <p class="card-header-title is-size-3">1-комнатная квартира (30 м<sup>2</sup>)</p>
        </div>
        <div class="card-content">
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr class="has-text-weight-semibold">
                        <th scope="col" width="30%"></th>
                        <th scope="col" class="text-uppercase" width="35%">Наличные денежные средства</th>
                        <th scope="col" class="text-uppercase" width="35%">Ипотечные денежные средства</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="has-background-warning-light"><td colspan="3" class="has-text-weight-semibold">Инвестиции (расход клиента)</td></tr>
                        <tr><td>Купили</td><td>2 550 000</td><td>2 550 000</td></tr>
                        <tr><td>ПВ (15.1%)</td><td>&mdash;</td><td>385 050</td></tr>
                        <tr><td>Процент за период 16%</td><td>&mdash;</td><td>86 598</td></tr>
                        <tr><td>Основной долг (3 месяца)</td><td>&mdash;</td><td>18 041</td></tr>
                        <tr><td>Ремонт</td><td>420 000</td><td>420 000</td></tr>
                        <tr><td>Мебель</td><td>200 000</td><td>200 000</td></tr>
                        <tr><td>Оформление</td><td>35 000</td><td>35 000</td></tr>
                        <tr class="has-text-weight-semibold"><td>Итого</td><td>3 205 000</td><td>1 144 689</td></tr>
                        <tr class="has-background-warning-light"><td colspan="3" class="has-text-weight-semibold">Расход от продажи</td></tr>
                        <tr><td>Налог (13%)</td><td>149 500</td><td>149 500</td></tr>
                        <tr><td>КВ от продажи (3%)</td><td>111 000</td><td>111 000</td></tr>
                        <tr class="has-text-weight-semibold"><td>Итого</td><td>260 500</td><td>260 500</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Итого расход инвестора</td><td>3 465 500</td><td>1 405 189</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Прибыль</td><td>234 500</td><td>147 902</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент на потраченное<br>(3 месяца)</td><td>7</td><td>11</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент годовых</td><td>27</td><td>42</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless">
            <p class="card-header-title is-size-3">2-комнатная квартира (50 м<sup>2</sup>)</p>
        </div>
        <div class="card-content">
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr class="has-text-weight-semibold">
                        <th scope="col" width="30%"></th>
                        <th scope="col" class="text-uppercase" width="35%">Наличные денежные средства</th>
                        <th scope="col" class="text-uppercase" width="35%">Ипотечные денежные средства</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="has-background-warning-light"><td colspan="3" class="has-text-weight-semibold">Инвестиции (расход клиента)</td></tr>
                        <tr><td>Купили</td><td>2 900 000</td><td>2 900 000</td></tr>
                        <tr><td>ПВ (15.1%)</td><td>&mdash;</td><td>437 900</td></tr>
                        <tr><td>Процент за период 16%</td><td>&mdash;</td><td>131 312</td></tr>
                        <tr><td>Основной долг (4 месяца)</td><td>&mdash;</td><td>27 357</td></tr>
                        <tr><td>Ремонт</td><td>580 000</td><td>580 000</td></tr>
                        <tr><td>Мебель</td><td>500 000</td><td>500 000</td></tr>
                        <tr><td>Оформление</td><td>35 000</td><td>35 000</td></tr>
                        <tr class="has-text-weight-semibold"><td>Итого</td><td>4 015 000</td><td>1 711 568</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td colspan="3">Расход от продажи</td></tr>
                        <tr><td>Налог (13%)</td><td>305 500</td><td>305 500</td></tr>
                        <tr><td>КВ от продажи (3%)</td><td>157 500</td><td>157 500</td></tr>
                        <tr class="has-text-weight-semibold"><td>Итого</td><td>463 000</td><td>463 000</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Итого расход инвестора</td><td>4 478 000</td><td>2 174 568</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Прибыль</td><td>772 000</td><td>640 688</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент на потраченное<br>(4 месяца)</td><td>17</td><td>29</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент годовых</td><td>58</td><td>88</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless">
            <p class="card-header-title is-size-3">3-комнатная квартира (70 м<sup>2</sup>)</p>
        </div>
        <div class="card-content">
            <div class="table-container">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr class="has-text-weight-semibold">
                        <th scope="col" width="30%"></th>
                        <th scope="col" class="text-uppercase" width="35%">Наличные денежные средства</th>
                        <th scope="col" class="text-uppercase" width="35%">Ипотечные денежные средства</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="has-background-warning-light"><td colspan="3" class="has-text-weight-semibold">Инвестиции (расход клиента)</td></tr>
                        <tr><td>Купили</td><td>3 600 000</td><td>3 600 000</td></tr>
                        <tr><td>ПВ (15.1%)</td><td>&mdash;</td><td>543 600</td></tr>
                        <tr><td>Процент за период 16%</td><td>&mdash;</td><td>203 760</td></tr>
                        <tr><td>Основной долг (5 месяцев)</td><td>&mdash;</td><td>42 450</td></tr>
                        <tr><td>Ремонт</td><td>735 000</td><td>735 000</td></tr>
                        <tr><td>Мебель</td><td>500 000</td><td>500 000</td></tr>
                        <tr><td>Оформление</td><td>35 000</td><td>35 000</td></tr>
                        <tr class="has-text-weight-semibold"><td>Итого</td><td>4 870 000</td><td>2 059 810</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td colspan="3">Расход от продажи</td></tr>
                        <tr><td>Налог (13%)</td><td>377 000</td><td>377 000</td></tr>
                        <tr><td>КВ от продажи (3%)</td><td>195 000</td><td>195 000</td></tr>
                        <tr><td>Итого</td><td>572 000</td><td>572 000</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Итого расход инвестора</td><td>5 442 000</td><td>2 631 810</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Прибыль</td><td>1 058 000</td><td>854 240</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент на потраченное<br>(5 месяцев)</td><td>19</td><td>32</td></tr>
                        <tr class="has-background-warning-light has-text-weight-semibold"><td>Процент годовых</td><td>47</td><td>78</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="card is-overflow-hidden">
        <div class="card-image">
            <iframe class="image is-16by9 is-fullwidth" src="https://www.youtube.com/embed/cuVhedgpq28?si=iIPaGg0OiZt75nLM" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section class="section">
    <div class="card">
        <div class="card-header is-shadowless">
            <p class="card-header-title is-size-3">Почему мы называем этот доход пассивным?</p>
        </div>
        <p class="card-content">Вы инвестируете средства в покупку недвижимости и забираете их через 3-5 месяцев с большими процентами. Как в банке, только в 3 раза выгоднее!</p>
    </div>
</section>
<section class="section">
    <div class="card">
        <p class="card-content">Инвестиции в флиппинг квартир подходят для начинающих инвесторов, так как они <span class="has-text-weight-semibold">безопасны и гарантированно приносят доход</span></p>
        <div class="card-footer">
            <a href="https://t.me/novstroy36" class="card-footer-item has-text-info">
                <span class="icon is-large"><i class="fa-2x fa-brands fa-telegram"></i></span>
            </a>
            <a href="https://vk.com/novstroy36" class="card-footer-item">
                <span class="icon is-large"><i class="fa-2x fa-brands fa-vk"></i></span>
            </a>
        </div>
    </div>
</section>
{% include 'blocks/consultation.html' with block_title='Оставьте заявку на подбор недвижимости для инвестиций' block_description='Заинтересовались предложением? Оставьте контакты и получите бесплатную консультацию, как заработать максимум на инвестициях в недвижимость!!!' %}
{% endblock %}