{% extends 'base_view.html' %}
{% load static %}
{% block hero_class %}hero-legal is-medium{% endblock %}
{% block hero_body %}
    <h1 class="title is-size-2 is-uppercase">Профессиональная юридическая помощь</h1>
    <p class="is-size-4">Мы оказываем квалифицированную юридическую помощь для физических и юридических лиц, а также для агентств недвижимости и частных риэлторов.</p>
{% endblock %}

{% block container %}
<!-- <section class="section">
    <div class="box content">
        <p>Для Вас работает профессиональный юридический отдел.</p>
        <p>Наши специалисты:</p>
        <ul>
            <li>Имеют опыт работы от 10 до 25 лет в крупных, в том числе федеральных компаниях в сфере недвижимости</li>
            <li>94% выигранных судебных процессов</li>
        </ul>
    </div>
</section>
<section class="section">
    <h2 class="is-size-2">Наши услуги</h2>
    <h3 class="is-size-3">Для физических лиц</h3>
    <div class="box content table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Категория услуг</th>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Консультация</td>
                    <td>Консультация устная</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Консультация письменная</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Составление/экспертиза документов</td>
                    <td>Составление документа в государственные и негосударственные органы и организации (письмо, заявление, запрос, ответ, жалоба, прочее)</td>
                    <td>1 500</td>
                </tr>
                <tr>
                    <td>Составление проекта (формы) договора, соглашения (типовой договор для определенного типа правоотношений)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза простого договора, соглашения</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза сложного договора, соглашения</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="2">Претензионная работа</td>
                    <td>Составление претензии, ответа на претензию</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Проведение переговоров, выезд (до двух часов)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td rowspan="10">Судебная работа</td>
                    <td>Анализ предоставленных документов на предмет наличия оснований для обращения в суд</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление досудебной претензии</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление искового заявления (отзыва) в мировой, районный суд</td>
                    <td>7 000</td>
                </tr>
                <tr>
                    <td>Составление ходатайства, дополнения искового заявления, иных процессуальных документов, ознакомление с делом (один день)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде первой инстанции (одно заседание)</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Составление апелляционной жалобы/ отзыва на жалобу</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде апелляционной инстанции (одно заседание)</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Составление кассационной жалобы/ отзыва на жалобу</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде кассационной инстанции (одно заседание)</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Предъявление исполнительного листа судебным приставам, в банк</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Общие услуги по сопровождению сделок с недвижимостью</td>
                    <td>Анализ предоставленных документов на объект недвижимости (жилое помещение, нежилое помещение, здание, земельный участок)</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>Экспертиза правовой чистоты сделки (проверка объекта, сторон сделки, документов, наличия рисков при совершении сделки)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза договора на совершение сделки</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Подача документов на регистрацию в МФЦ (без сопровождения)</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td rowspan="6">Комплексные услуги по регистрации объектов недвижимости</td>
                    <td>Регистрация сделки (купля-продажа, дарение, мена, аренда). Регистрация права собственности на объект недвижимости (земельный участок, квартира, дом, дача, гараж, сарай) при наличии документа-основания.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Регистрация права собственности на вновь созданный или ранее не оформленный объект недвижимости или земельный участок.</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Внесение изменений в сведения об объекте недвижимости или о земельном участке (изменение площади, наименования объекта, реконструкция, перепланировка, раздел, прочее)</td>
                    <td>12 000</td>
                </tr>
                <tr>
                    <td>Регистрация обременений/снятия обременений</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Приватизация</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Вступление в наследство</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td rowspan="5">Дополнительные услуги для регистрации прав на недвижимость и сделок с ней</td>
                    <td>Изготовление Кадастрового плана объекта</td>
                    <td>12 000</td>
                </tr>
                <tr>
                    <td>Получение обезличенной выписки из ЕГРН в электронной форме.</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Подача и получение иных документов из органов Кадастра, Росреестра, БТИ, Архива, Администрации.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Изготовление Плана земельного участка (геосъемка). Изготовление Межевого дела земельного участка.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Изготовление/согласование/утверждение Схемы расположения земельного участка на КПТ.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="3">Регистрация ИП, ЮЛ, НКО</td>
                    <td>Подготовка документов для регистрации ИП</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации юридического лица</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации некоммерческой организации</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td rowspan="2">Регистрация изменений в сведения об ИП, ЮЛ, НКО</td>
                    <td>Подготовка документов для регистрации изменений в сведения об ИП для подачи в регистрирующий орган</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации изменений в сведения о ЮЛ, НКО/в учредительные документы ЮЛ, НКО для подачи в регистрирующий орган (смена наименования, адреса, директора, участника, ОКВЭД, уставного капитала)</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Дополнительные услуги для юридических лиц и ИП</td>
                    <td>Консультация об особенностях осуществления деятельности и ответственности ИП, ООО, ОАО, ЗАО, НКО. Консультация по выбору ОКВЭД. Выбор системы налогообложения.</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Получение информационного письма статистики</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Восстановление документов юридического лица, ИП</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Открытие расчетного счета юридического лица, ИП</td>
                    <td>1 500</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="section">
    <h3 class="is-size-3">Пакеты услуг для частных риэлторов</h3>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Старт (отдельные услуги)</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Составление соглашения о задатке/ПДКП</td>
                                <td>2 000</td>
                            </tr>
                            <tr>
                                <td>Составление ПРОСТОГО<br>Договора купли-продажи<br>Договора мены<br>Договора дарения</td>
                                <td>3 000</td>
                            </tr>
                            <tr>
                                <td>Выписка из ЕГРН (актуальная, обезличенная)</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза стороны (1 собственник)</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Старт+</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td>исключительно по подготовленным документам</td>
                            </tr>
                            <tr>
                                <td>Составление соглашения о задатке/ПДКП</td>
                                <td>2 000</td>
                            </tr>
                            <tr>
                                <td>Составление ПРОСТОГО<br>Договора купли-продажи<br>Договора мены<br>Договора дарения</td>
                                <td>3 000</td>
                            </tr>
                            <tr>
                                <td>Выписка из ЕГРН (актуальная, обезличенная)</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза стороны (1 собственник)</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>Режим работы: дистанционно (по телефону, электронной почте), выезд не осуществляется.</p>
    <p>Дополнительные услуги оплачиваются по Прайс-листу</p>
    <p>Способ оплаты: наличный/ безналичный (+ 1 000 р)</p>
</section>
<section class="section">
    <h3 class="is-size-3">Пакеты услуг для агентств недвижимости</h3>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Стандарт</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 10 сделок</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза сторон и объекта</td>
                                <td>до 10 сделок</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Стандарт</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 15 сделок</td>
                            </tr>
                            <tr>
                                <td>Претензионная работа, деловая переписка</td>
                                <td>до 5 документов</td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 10 штук</td>
                            </tr>
                            <tr>
                                <td>Обезличенная выписка ЕГРН</td>
                                <td>до 10 штук</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Премиум</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 20 сделок</td>
                            </tr>
                            <tr>
                                <td>Претензионная работа, деловая переписка</td>
                                <td>до 5 документов</td>
                            </tr>
                            <tr>
                                <td>Представление интересов организации во всех государственных и негосударственных органах и организациях</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Сопровождение переговоров с контрагентами/клиентами</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Составление карты/структуры сделки</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Персональный чат АН-юрист</td>
                                <td>в течение срока обслуживания</td>
                            </tr>
                            <tr>
                                <td>Формирование отчета по выбранным показателям до 10 показателей</td>
                                <td> по итогам обслуживания</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>Режим работы: дистанционно (по телефону, электронной почте), выезд не осуществляется</p>
    <p>Объем работы: не должен превышать указанное количество в месяц</p>
    <p>Дополнительные услуги оплачиваются по Прайс-листу</p>
    <p>Способ оплаты: наличный/ безналичный (+ 1 000 р)</p>
    <p class="is-size-7">Все цены актуальны на 12.09.2024 г.</p>
</section>-->

<section class="flex items-center justify-center  pt-5">
    <div class="max-w-7xl lg:mx-0 w-full mx-6">
        <div class="bg-[#2C2C2E] text-white p-6 rounded-xl shadow-lg flex flex-col sm:flex-row items-center sm:items-center text-center sm:text-left lg:px-8 lg:mx-8 px-6">
            <div class="order-2 sm:order-1 flex-1">
                <h2 class="text-3xl sm:text-2xl font-bold">Профессиональная юридическая помощь</h2>
                <p class="mt-2 text-gray-300">Мы оказываем квалифицированную юридическую помощь для физических и юридических лиц</p>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="mt-4 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded w-full sm:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="order-1 sm:order-2 w-40 h-40 sm:w-56 sm:h-56 mb-4 sm:mb-0 sm:ml-6">
              
                    
              <img src="{%static 'pic/law.svg'%}" alt="Услуги" class="w-full h-full object-cover rounded-lg"> 
            </div>
        </div>
    </div>
</section>
<section class="items-center justify-center  pt-5 mx-auto ">
    <div class="grid gap-4 md:grid-cols-2 grid-cols-1 mx-auto max-w-7xl block mx-auto text-center px-6 lg:px-8"> 
        <button class="rounded-lg py-10 bg-[#2C2C2E] mt-2">
            <h2 class="text-[#BF6128] font-bold text-4xl">10-25 лет</h2>
            <span class="text-white text-sm mt-3">Опыт работы наших специалистов</span>
        </button>
        <button class="rounded-lg py-10 bg-[#2C2C2E] mt-2">
            <h2 class="text-[#BF6128] font-bold  text-4xl">94%</h2>
            <span class="text-white text-sm mt-3">Выигранных судебных процессов</span>
        </button>
    </div>
</section>
<!-- Секция Услуг основная  -->
<section class="pt-5">
      <div class="mx-auto max-w-7xl  lg:flex lg:items-center lg:justify-between pb-8 px-6 sm:py-15 lg:px-8">
        <h1 class="text-left text-white md:text-5xl sm:text-4xl text-4xl">
            <span>Наши услуги</span>
        </h1>
    </div>
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Консультация</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Устная</span>
                        <span>Бесплатно</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Письменная</span>
                        <span>от 2000₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Составление и экспертиза документов</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Составление документа в государственные и негосударственные органы и организации (письмо, заявление, запрос, ответ, жалоба, прочее)</span>
                        <span>от 1500 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление проекта (формы) договора, соглашения (типовой договор для определенного типа правоотношений)</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление/экспертиза простого договора, соглашения</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление/экспертиза сложного договора, соглашения</span>
                        <span>от 5000₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Претензионная работа</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Составление претензии, ответа на претензию</span>
                        <span>от 2000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Проведение переговоров, выезд (до двух часов)</span>
                        <span>от 3000₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Судебная работа</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Анализ предоставленных документов на предмет наличия оснований для обращения в суд</span>
                        <span>от 3000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление досудебной претензии</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление искового заявления (отзыва) в мировой, районный суд</span>
                        <span>от 7000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление ходатайства, дополнения искового заявления, иных процессуальных документов, ознакомление с делом (один день)</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Представительство в суде первой инстанции (одно заседание)</span>
                        <span>от 5000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление апелляционной жалобы или отзыва на жалобу</span>
                        <span>от 10000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Представительство в суде апелляционной инстанции (одно заседание)</span>
                        <span>от 10000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление кассационной жалобы или отзыва на жалобу</span>
                        <span>от 10000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Представительство в суде кассационной инстанции (одно заседание)</span>
                        <span>от 15000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Дополнительное вознаграждение за положительный исход дела по имущественным спорам</span>
                        <span>от 5% от цены иска</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Предъявление исполнительного листа судебным приставам, в банк</span>
                        <span>от 5000₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Общие услуги по сопровождению сделок с недвижимостью</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Анализ предоставленных документов на жилое помещение</span>
                        <span>от 1000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Анализ предоставленных документов на нежилое помещение или земельный участок</span>
                        <span>от 2000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Анализ предоставленных документов на здание</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Экспертиза правовой чистоты сделки (проверка объекта, сторон сделки, документов, наличия рисков при совершении сделки)</span>
                        <span class="">от3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление проекта (формы) договора, соглашения (типовой договор для определенного типа правоотношений)</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Составление/экспертиза договора на совершение сделки</span>
                        <span>от 3000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подача документов на регистрацию в МФЦ без сопровождения (с очередью в МФЦ)</span>
                        <span>от 10000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подача документов на регистрацию в МФЦ без сопровождения (без очереди в МФЦ)</span>
                        <span>от 2000₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Комплексные услуги по регистрации объектов недвижимости</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Регистрация сделки (купля-продажа, дарение, мена, аренда). 
Регистрация права собственности на объект недвижимости (земельный участок, квартира, дом, дача, гараж, сарай) при наличии документа-основания.</span>
                        <span>от 5000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Регистрация права собственности на вновь созданный или ранее не оформленный объект недвижимости или земельный участок</span>
                        <span>от 15 000 ₽ + услуги специалистов</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Внесение изменений в сведения об объекте недвижимости или о земельном участке (изменение площади, наименования объекта, реконструкция, перепланировка, раздел, прочее)</span>
                        <span>от 12 000 ₽ + услуги специалистов</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Регистрация обременений/снятия обременений</span>
                        <span class="">от 15000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Приватизация</span>
                        <span>от 15000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Вступление в наследство</span>
                        <span>от 15 000 ₽ + услуги нотариуса</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Дополнительные услуги для регистрации прав на недвижимость и сделок с ней</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Изготовление Кадастрового плана объекта</span>
                        <span>от 12000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Получение обезличенной выписки из ЕГРН в электронной форме.</span>
                        <span>от 150₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подача и получение иных документов из органов Кадастра, Росреестра, БТИ, Архива, Администрации</span>
                        <span>от 5000₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Изготовление Плана земельного участка (геосъемка). Изготовление Межевого дела земельного участка.</span>
                        <span>от 5000 ₽ + услуги специалиста</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Приватизация</span>
                        <span>от 5000 ₽ + услуги специалиста</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Изготовление, согласование, утверждение Схемы расположения земельного участка на КПТ</span>
                        <span>от 5000 ₽ + услуги специалиста</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Регистрация ИП, ЮЛ, НКО</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Подготовка документов для регистрации ИП</span>
                        <span>2000 ₽ + пошлина 800 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подготовка документов для регистрации юридического лица</span>
                        <span>от 10 000 ₽ +пошлина 4000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подготовка документов для регистрации некоммерческой организации</span>
                        <span>от 15 000 ₽ +пошлина 4000 ₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Регистрация изменений в сведения об ИП, ЮЛ, НКО</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Подготовка документов для регистрации изменений в сведения об ИП для подачи в регистрирующий орган</span>
                        <span>2000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Подготовка документов для регистрации изменений в сведения о ЮЛ, НКО/в учредительные документы ЮЛ, НКО для подачи в регистрирующий орган (смена наименования, адреса, директора, участника, ОКВЭД, уставного капитала)</span>
                        <span>4000 – 10 000 ₽ + пошлина 800 ₽ (при изменении устава) + услуги нотариуса</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 max-w-7xl mx-auto text-white px-6 lg:px-8">
        <div class="grid md:grid-cols-3 gap-5 rounded-lg bg-[#2C2C2E] items-start">
            <div class="p-5">
                <h2 class="text-lg font-semibold mb-4">Дополнительные услуги для юридических лиц и ИП</h2>
                <button data-modal-target="modal" data-modal-toggle="modal" type="button" class="bg-orange-600 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto">
                    Оставить заявку
                </button>
            </div>
            <div class="md:col-span-2 bg-[#2C2C2E] rounded-lg overflow-hidden text-sm">
                <div class="divide-y divide-[#787878]  lg:text-sm  text-xs">
                    <div class="flex justify-between p-4 ">
                        <span>Юридическое сопровождение бизнеса для юридических лиц</span>
                        <span>по договоренности</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Консультация об особенностях осуществления деятельности и ответственности ИП, ООО, ОАО, ЗАО, НКО.
Консультация по выбору ОКВЭД. Выбор системы налогообложения</span>
                        <span>3000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Получение информационного письма статистики</span>
                        <span>2000 ₽</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Восстановление документов юридического лица, ИП</span>
                        <span>2000 ₽ + пошлина</span>
                    </div>
                    <div class="flex justify-between p-4">
                        <span>Открытие расчетного счета юридического лица, ИП</span>
                        <span>2000 ₽ + услуги банка</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'blocks/consultation.html' with block_title='Бесплатная консультация юридического отдела' block_description='Мы начнем разбираться в Вашей проблеме. Поможем с оформление всех необходимых документов' %}
{% endblock %}