{% extends 'base_view.html' %}

{% block hero_class %}hero-legal is-medium{% endblock %}
{% block hero_body %}
    <h1 class="title is-size-2 is-uppercase">Профессиональная юридическая помощь</h1>
    <p class="is-size-4">Мы оказываем квалифицированную юридическую помощь для физических и юридических лиц, а также для агентств недвижимости и частных риэлторов.</p>
{% endblock %}

{% block container %}
<section class="section">
    <div class="box content">
        <p>Для Вас работает профессиональный юридический отдел.</p>
        <p>Наши специалисты:</p>
        <ul>
            <li>Имеют опыт работы от 10 до 25 лет в крупных, в том числе федеральных компаниях в сфере недвижимости</li>
            <li>94% выигранных судебных процессов</li>
        </ul>
    </div>
</section>
<section class="section">
    <h2 class="is-size-2">Наши услуги</h2>
    <h3 class="is-size-3">Для физических лиц</h3>
    <div class="box content table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Категория услуг</th>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Консультация</td>
                    <td>Консультация устная</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Консультация письменная</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Составление/экспертиза документов</td>
                    <td>Составление документа в государственные и негосударственные органы и организации (письмо, заявление, запрос, ответ, жалоба, прочее)</td>
                    <td>1 500</td>
                </tr>
                <tr>
                    <td>Составление проекта (формы) договора, соглашения (типовой договор для определенного типа правоотношений)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза простого договора, соглашения</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза сложного договора, соглашения</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="2">Претензионная работа</td>
                    <td>Составление претензии, ответа на претензию</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Проведение переговоров, выезд (до двух часов)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td rowspan="10">Судебная работа</td>
                    <td>Анализ предоставленных документов на предмет наличия оснований для обращения в суд</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление досудебной претензии</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление искового заявления (отзыва) в мировой, районный суд</td>
                    <td>7 000</td>
                </tr>
                <tr>
                    <td>Составление ходатайства, дополнения искового заявления, иных процессуальных документов, ознакомление с делом (один день)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде первой инстанции (одно заседание)</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Составление апелляционной жалобы/ отзыва на жалобу</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде апелляционной инстанции (одно заседание)</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Составление кассационной жалобы/ отзыва на жалобу</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Представительство в суде кассационной инстанции (одно заседание)</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Предъявление исполнительного листа судебным приставам, в банк</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Общие услуги по сопровождению сделок с недвижимостью</td>
                    <td>Анализ предоставленных документов на объект недвижимости (жилое помещение, нежилое помещение, здание, земельный участок)</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>Экспертиза правовой чистоты сделки (проверка объекта, сторон сделки, документов, наличия рисков при совершении сделки)</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Составление/экспертиза договора на совершение сделки</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Подача документов на регистрацию в МФЦ (без сопровождения)</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td rowspan="6">Комплексные услуги по регистрации объектов недвижимости</td>
                    <td>Регистрация сделки (купля-продажа, дарение, мена, аренда). Регистрация права собственности на объект недвижимости (земельный участок, квартира, дом, дача, гараж, сарай) при наличии документа-основания.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Регистрация права собственности на вновь созданный или ранее не оформленный объект недвижимости или земельный участок.</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Внесение изменений в сведения об объекте недвижимости или о земельном участке (изменение площади, наименования объекта, реконструкция, перепланировка, раздел, прочее)</td>
                    <td>12 000</td>
                </tr>
                <tr>
                    <td>Регистрация обременений/снятия обременений</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Приватизация</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td>Вступление в наследство</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td rowspan="5">Дополнительные услуги для регистрации прав на недвижимость и сделок с ней</td>
                    <td>Изготовление Кадастрового плана объекта</td>
                    <td>12 000</td>
                </tr>
                <tr>
                    <td>Получение обезличенной выписки из ЕГРН в электронной форме.</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Подача и получение иных документов из органов Кадастра, Росреестра, БТИ, Архива, Администрации.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Изготовление Плана земельного участка (геосъемка). Изготовление Межевого дела земельного участка.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td>Изготовление/согласование/утверждение Схемы расположения земельного участка на КПТ.</td>
                    <td>5 000</td>
                </tr>
                <tr>
                    <td rowspan="3">Регистрация ИП, ЮЛ, НКО</td>
                    <td>Подготовка документов для регистрации ИП</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации юридического лица</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации некоммерческой организации</td>
                    <td>15 000</td>
                </tr>
                <tr>
                    <td rowspan="2">Регистрация изменений в сведения об ИП, ЮЛ, НКО</td>
                    <td>Подготовка документов для регистрации изменений в сведения об ИП для подачи в регистрирующий орган</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Подготовка документов для регистрации изменений в сведения о ЮЛ, НКО/в учредительные документы ЮЛ, НКО для подачи в регистрирующий орган (смена наименования, адреса, директора, участника, ОКВЭД, уставного капитала)</td>
                    <td>10 000</td>
                </tr>
                <tr>
                    <td rowspan="4">Дополнительные услуги для юридических лиц и ИП</td>
                    <td>Консультация об особенностях осуществления деятельности и ответственности ИП, ООО, ОАО, ЗАО, НКО. Консультация по выбору ОКВЭД. Выбор системы налогообложения.</td>
                    <td>3 000</td>
                </tr>
                <tr>
                    <td>Получение информационного письма статистики</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Восстановление документов юридического лица, ИП</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>Открытие расчетного счета юридического лица, ИП</td>
                    <td>1 500</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="section">
    <h3 class="is-size-3">Пакеты услуг для частных риэлторов</h3>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Старт (отдельные услуги)</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Составление соглашения о задатке/ПДКП</td>
                                <td>2 000</td>
                            </tr>
                            <tr>
                                <td>Составление ПРОСТОГО<br>Договора купли-продажи<br>Договора мены<br>Договора дарения</td>
                                <td>3 000</td>
                            </tr>
                            <tr>
                                <td>Выписка из ЕГРН (актуальная, обезличенная)</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза стороны (1 собственник)</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Старт+</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td>исключительно по подготовленным документам</td>
                            </tr>
                            <tr>
                                <td>Составление соглашения о задатке/ПДКП</td>
                                <td>2 000</td>
                            </tr>
                            <tr>
                                <td>Составление ПРОСТОГО<br>Договора купли-продажи<br>Договора мены<br>Договора дарения</td>
                                <td>3 000</td>
                            </tr>
                            <tr>
                                <td>Выписка из ЕГРН (актуальная, обезличенная)</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза стороны (1 собственник)</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>Режим работы: дистанционно (по телефону, электронной почте), выезд не осуществляется.</p>
    <p>Дополнительные услуги оплачиваются по Прайс-листу</p>
    <p>Способ оплаты: наличный/ безналичный (+ 1 000 р)</p>
</section>
<section class="section">
    <h3 class="is-size-3">Пакеты услуг для агентств недвижимости</h3>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Стандарт</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 10 сделок</td>
                            </tr>
                            <tr>
                                <td>Правовая экспертиза сторон и объекта</td>
                                <td>до 10 сделок</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Стандарт</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 15 сделок</td>
                            </tr>
                            <tr>
                                <td>Претензионная работа, деловая переписка</td>
                                <td>до 5 документов</td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 10 штук</td>
                            </tr>
                            <tr>
                                <td>Обезличенная выписка ЕГРН</td>
                                <td>до 10 штук</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header is-shadowless">
                    <p class="card-header-title">Премиум</p>
                </div>
                <div class="card-content table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Консультации устные</td>
                                <td><i class="fa-solid fa-infinity"></i></td>
                            </tr>
                            <tr>
                                <td>Договорная работа (составление/экспертиза договоров, соглашений)</td>
                                <td>до 20 сделок</td>
                            </tr>
                            <tr>
                                <td>Претензионная работа, деловая переписка</td>
                                <td>до 5 документов</td>
                            </tr>
                            <tr>
                                <td>Представление интересов организации во всех государственных и негосударственных органах и организациях</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Сопровождение переговоров с контрагентами/клиентами</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Составление карты/структуры сделки</td>
                                <td>до 5 случаев</td>
                            </tr>
                            <tr>
                                <td>Персональный чат АН-юрист</td>
                                <td>в течение срока обслуживания</td>
                            </tr>
                            <tr>
                                <td>Формирование отчета по выбранным показателям до 10 показателей</td>
                                <td> по итогам обслуживания</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>Режим работы: дистанционно (по телефону, электронной почте), выезд не осуществляется</p>
    <p>Объем работы: не должен превышать указанное количество в месяц</p>
    <p>Дополнительные услуги оплачиваются по Прайс-листу</p>
    <p>Способ оплаты: наличный/ безналичный (+ 1 000 р)</p>
    <p class="is-size-7">Все цены актуальны на 12.09.2024 г.</p>
</section>
{% include 'blocks/consultation.html' with block_title='Бесплатная консультация юридического отдела' block_description='Мы начнем разбираться в Вашей проблеме. Поможем с оформление всех необходимых документов' %}
{% endblock %}