{% extends 'base_view.html' %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-0 mb-5">
                <div class="card-header bg-white border-bottom-0">
                    <p class="mb-0 fs-3 fw-bolder">{{ title }}</p>
                </div>
                <div class="card-body pt-0">
                    <p class="card-text">Пользователь, оставляя заявку в форме обратной связи на странице интернет-сайта квартиры36.рф, принимает настоящее Согласие на обработку персональных данных (далее — Согласие). Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает конкретное, предметное, информированное, сознательное, однозначное согласие ООО «Новостройки Воронеж» (ИНН 3662286269, ОГРН 1203600022812), юридическим адресом которого является: 394016, Воронежская обл., г. Воронеж, Беговая 63., на обработку своих персональных данных по следующим условиям:</p>
                    <p class="card-text">1. Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</p>
                    <p class="card-text">2. Согласие дается на обработку перечня следующих персональных данных: персональные данные, не являющиеся специальными или биометрическими: номер контактного телефона; имя, фамилия.</p>
                    <p class="card-text">3. Персональные данные не являются общедоступными.</p>
                    <p class="card-text">4. Цель обработки персональных данных: обработка входящих запросов физических лиц с целью консультирования по услугам партнеров ООО «Новостройки Воронеж».</p>
                    <p class="card-text">5. Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; федеральные законы и принятые на их основе нормативные правовые акты, регулирующие отношения, связанные с деятельностью оператора; политика обработки персональных данных, настоящее согласие на обработку персональных данных.</p>
                    <p class="card-text">6. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение.</p>
                    <p class="card-text">7. Персональные данные обрабатываются до момента окончания предоставления услуг консультирования. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</p>
                    <p class="card-text">8. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ООО «Новостройки Воронеж» или его представителю по адресу, указанному в начале данного Согласия, либо по адресу электронной почты <a href="mailto:kvartiri.36@yandex.ru">kvartiri.36@yandex.ru</a>.</p>
                    <p class="card-text">9. В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ООО «Новостройки Воронеж» вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 — 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.</p>
                    <p class="card-text">10. Настоящее согласие действует все время до момента прекращения обработки персональных данных, по основаниям, указанным в п. 7 и п. 8 данного Согласия.</p>
                </div>
            </div>
            {% include 'blocks/consultation.html' %}
        </div>
    </div>
</div>
{% endblock %}